<div class="modal-header justify-content-center">
  <h4 class="modal-title" id="modal-title">{{"create_location_modal" | translate}}</h4>
</div>
<div class="modal-body">
  <p class="text-center">
    {{"create_location_modal_text" | translate}}
  </p>
  <br>
  <div class="pl-5">
    <p class="text-left">
      {{ "street" | translate }}: {{location.street}}
    </p>
    <p class="text-left">
      {{ "city" | translate }}: {{location.city}}
    </p>
    <p class="text-left">
      {{ "state" | translate }}: {{location.state}}
    </p>
    <p class="text-left">
      {{ "postal_code" | translate }}: {{location.postal_code}}
    </p>
    <p class="text-left">
      {{ "country" | translate }}: {{location.country}}
    </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="modal.dismiss('save')">{{ 'save' | translate}}</button>
  <button type="button" class="btn " (click)="modal.close('cancel')">{{ 'cancel' | translate}}</button>
</div>
