<section id="header">
<div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper">
      <div class="card card-2">
        <div class="card-body">
          <h2 style="text-align: center;">{{ 'register_client' | translate}}</h2>
          <br>
          <form id="client-registration-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="photo">{{ 'add_photo' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.photo.errors" class="alert text-danger">
                  </span>
                  <input #photoFile type="file" class="form-control-file" (change)="onFileChange($event)" />
                </div>
                <div *ngIf="photo" style="text-align: center;">
                  <img style="height: 15em;" class="img-fluid" src="{{ photo }}" alt="Red dot" />
                </div>
                <div *ngIf="!photo" style="text-align: center;">
                  <img style="height: 15em; opacity: 75%;" class="img-fluid"  src="../../../../assets/img/man.png" alt="Red dot">
                </div>
              </div>

              <div class="col-md-4">
                <fieldset formGroupName="user_account">
                  <div class="form-group">
                    <label for="user_account.username">{{ 'username' | translate}}:</label>
                    <span *ngIf="isSubmitted && user_accountControls.username.errors" class="alert text-danger">
                      <span *ngIf="user_accountControls.username.errors.maxlength">{{ 'username_maxLength' | translate}}</span>
                      <span *ngIf="user_accountControls.username.errors.required">{{ 'username_required' | translate}}</span>
                      <span *ngIf="user_accountControls.username.errors.usernameUnique">{{ 'username_unique' | translate}}</span>
                    </span>
                    <input type="text" formControlName="username" placeholder="peter1234" name="username" class="form-control"
                      id="username">
                  </div>

                  <div class="form-group">
                    <label for="password1">{{ 'password' | translate}}:</label>
                    <span *ngIf="isSubmitted && user_accountControls.password1.errors" class="alert text-danger">
                      <span *ngIf="user_accountControls.password1.errors.maxlength">{{ 'password_maxLength' | translate}}</span>
                      <span *ngIf="user_accountControls.password1.errors.required">{{ 'password_required' | translate}}</span>
                      <span *ngIf="user_accountControls.password1.errors.password1Short">{{ 'password1_short' | translate}}</span>
                    </span>
                    <input type="password" formControlName="password1" placeholder="********" name="password1"
                    class="form-control" id="password1">
                  </div>

                  <div class="form-group">
                    <label for="password2">{{ 'password_repeat' | translate}}:</label>
                    <span *ngIf="isSubmitted && user_accountControls.password2.errors" class="alert text-danger">
                      <span *ngIf="user_accountControls.password2.errors.MatchPassword">{{ 'password_confirmPassword' | translate}}</span>
                      <span *ngIf="user_accountControls.password2.errors.required">{{ 'password_required' | translate}}</span>
                    </span>
                    <input type="password" formControlName="password2" placeholder="********" name="password2"
                      class="form-control" id="password2">
                  </div>

                  <div class="form-group">
                    <label for="email">{{ 'email' | translate}}:</label>
                    <span *ngIf="isSubmitted && user_accountControls.email.errors" class="alert text-danger">
                      <span *ngIf="user_accountControls.email.errors.required">{{ 'email_required' | translate}}</span>
                      <span *ngIf="user_accountControls.email.errors.pattern">{{ 'email_incorrect' | translate}}</span>
                      <span *ngIf="user_accountControls.email.errors.emailUnique">{{ 'email_unique' | translate}}</span>
                    </span>
                    <input type="text" formControlName="email" placeholder="peter1234@domain.com" name="email"
                      class="form-control" id="email">
                  </div>
                </fieldset>

                <div class="form-group">
                  <label for="name">{{ 'name' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.name.errors" class="alert text-danger">
                    <span *ngIf="formControls.name.errors.required">{{ 'name_required' | translate}}</span>
                    <span *ngIf="formControls.name.errors.minlength">{{ 'name_minLength' | translate}}</span>
                    <span *ngIf="formControls.name.errors.maxlength">{{ 'name_maxLength' | translate}}</span>
                  </span>
                  <input type="text" formControlName="name" placeholder="Peter" name="name" class="form-control" id="name">
                </div>

              </div>

              <div class="col-md-4">

                <div class="form-group">
                  <label for="surname">{{ 'surname' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.surname.errors" class="alert text-danger">
                    <span *ngIf="formControls.surname.errors.required">{{ 'surname_required' | translate}}</span>
                    <span *ngIf="formControls.surname.errors.minlength">{{ 'surname_minLength' | translate}}</span>
                    <span *ngIf="formControls.surname.errors.maxlength">{{ 'surname_maxLength' | translate}}</span>
                  </span>
                  <input type="text" formControlName="surname" placeholder="Smith" name="surname" class="form-control"
                    id="surname">
                </div>

                <div class="form-group">
                  <label for="birth_date">{{ 'birth_date' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.birth_date.errors" class="alert text-danger">
                    <span *ngIf="formControls.birth_date.errors.pattern">{{ 'birth_date_pattern' | translate}}</span>
                    <span *ngIf="formControls.birth_date.errors.required">{{ 'birth_date_required' | translate}}</span>
                    <span *ngIf="formControls.birth_date.errors.ErrorDay">{{ 'birth_date_errorDay' | translate}}</span>
                  </span>
                  <input type="date" formControlName="birth_date" placeholder="YYYY-MM-DD" name="birth_date" class="form-control"
                    id="birth_date">
                </div>

                <div class="form-group">
                  <label for="phone">{{ 'phone' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.phone.errors" class="alert text-danger">
                    <span *ngIf="formControls.phone.errors.pattern">{{ 'phone_pattern' | translate}}</span>
                    <span *ngIf="formControls.phone.errors.required">{{ 'phone_required' | translate}}</span>
                  </span>
                  <input type="text" formControlName="phone" placeholder="123456789" name="phone" class="form-control"
                    id="phone">
                </div>

                <div class="jumbotron pt-2 pb-2 pl-2 pr-2">
                  <p class="pb-2"><strong>{{ 'available_phone_patterns' | translate}}:</strong></p>
                  <p style="text-align: justify">{{ 'with_prefix' | translate}}: +34621456987</p>
                  <p style="text-align: justify">{{ 'without_prefix' | translate}}: 621456987</p>
                  <p style="text-align: justify">{{ '(country code)_number-extension' | translate}}: (555) 555-1234</p>
                </div>

              </div>
            </div>
            <div class="row">

              <div class="col-md-8">
                <div class="form-check">
                  <input type="checkbox" formControlName="terms_and_conditions" name="terms_and_conditions"
                    class="form-check-input" id="terms_and_conditions" ng-model="terms_and_conditions" ng-true-value="true"
                    ng-false-value="false">
                  <label class="form-check-label"
                    for="terms_and_conditions">{{ 'terms_and_conditions' | translate}}</label><a
                    routerLink="/terms-and-conditions" target="_blank">{{ 'terms_and_conditions_show' | translate}}</a>
                  <span *ngIf="isSubmitted && formControls.terms_and_conditions.errors" class="alert text-danger">
                    <span
                      *ngIf="formControls.terms_and_conditions.errors.termsAndConditionsRequired">{{ 'terms_and_conditions_accept' | translate}}</span>
                  </span>
                </div>
              </div>

              <div class="col-md-4" style="text-align:right;">
                <button class="btn">{{ 'save' | translate}}</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
