<div class="modal-header justify-content-center">
  <h4 class="modal-title" id="modal-title">{{"modal_exported_1" | translate}}</h4>
</div>
<div class="modal-body text-center">
  <p>{{ 'modal_exported_' + success | translate}}
  </p>
  <small *ngIf="!success" class="text-danger">{{ error_message | translate}}</small>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="modal.dismiss('cancel click')">{{ 'ok' | translate}}</button>
</div> 
