<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>{{ 'remove-actor-confirm' | translate}}</strong></p>
    <p>{{ 'remove-actor-confirm-info' | translate}}
    <span class="text-danger">{{ 'remove-actor-confirm-danger' | translate}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">{{ 'ok' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">{{ 'cancel' | translate}}</button>
  </div>