<div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper">
      <div class="card card-2">
        <div class="card-body">

          <div class="row  p-3">
            <div class="col-md-12">

              <h1 style="text-align: left" class="display-4">{{ 'list_exchange' | translate}}</h1>
              <br>
              <p class="lead" style="text-align: justify">{{ 'filter_parameters' | translate}}</p>
              <br>
              <p *ngIf="!this.hasVipSubscription" class="lead"
                 style="text-align: justify; color: #a94442">{{ 'payload_list_no_vip_subscription' | translate}}</p>
              <br *ngIf="!this.hasVipSubscription">

            </div>
          </div>

          <form [formGroup]="createForm">

            <div class="row">

              <div class="col-md-12 align-self-center align-items-stretch">
                <div class="jumbotron">

                  <p class="lead" style="font-weight: bold">{{"location_parameters" | translate}}</p>
                  <br>

                  <div class="form-group" *ngIf="userService.hasAuthority('BAR')">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend1">{{ 'exchange_list_msg4' | translate}}</span>
                      </div>
                      <input type="text"
                             formControlName="client"
                             placeholder="{{ 'payload_list_employee_placeholder' | translate}}"
                             name="client"
                             class="form-control"
                             id="client"
                             (keyup)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend2">{{ 'exchange_list_msg5' | translate}}</span>
                      </div>
                      <input type="text"
                             formControlName="sale"
                             placeholder="{{ 'exchange_list_sale_placeholder' | translate}}"
                             name="sale"
                             class="form-control"
                             id="sale"
                             (keyup)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend3">{{ 'exchange_list_msg2' | translate}}</span>
                      </div>
                      <input type="text"
                             formControlName="location"
                             placeholder="{{ 'payload_list_location_placeholder' | translate}}"
                             name="location"
                             class="form-control"
                             id="location"
                             (keyup)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                  <div class="form-group" *ngIf="userService.hasAuthority('BAR')">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend4">{{ 'payload_list_msg3' | translate}}</span>
                      </div>
                      <input type="text"
                             formControlName="employee"
                             placeholder="{{ 'payload_list_employee_placeholder' | translate}}"
                             name="employee"
                             class="form-control"
                             id="employee"
                             (keyup)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6 align-self-center align-items-stretch">
                <div class="jumbotron">

                  <p class="lead" style="font-weight: bold">{{"cost_parameters" | translate}}</p>
                  <br>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend5">{{ 'exchange_list_msg8' | translate}}</span>
                      </div>
                      <input type="number"
                             formControlName="points_min"
                             placeholder=""
                             name="points_min"
                             class="form-control"
                             id="points_min"
                             (keyup)="getExchanges(this.exchangesURL)"
                             (change)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend6">{{ 'payload_list_msg9' | translate}}</span>
                      </div>
                      <input type="number"
                             formControlName="points_max"
                             placeholder=""
                             name="points_max"
                             class="form-control"
                             id="points_max"
                             (keyup)="getExchanges(this.exchangesURL)"
                             (change)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend7">{{ 'payload_list_msg10' | translate}}</span>
                      </div>
                      <input type="number"
                             formControlName="points_exact"
                             placeholder=""
                             name="points_exact"
                             class="form-control"
                             id="points_exact"
                             (keyup)="getExchanges(this.exchangesURL)"
                             (change)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6 align-self-center align-items-stretch">
                <div class="jumbotron">

                  <p class="lead" style="font-weight: bold">{{"date_parameters" | translate}}</p>
                  <br>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend8">{{ 'payload_list_msg5' | translate}}</span>
                      </div>
                      <input type="date"
                             formControlName="create_moment_min"
                             placeholder=""
                             name="create_moment_min"
                             class="form-control"
                             id="create_moment_min"
                             (change)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend9">{{ 'payload_list_msg6' | translate}}</span>
                      </div>
                      <input type="date"
                             formControlName="create_moment_max"
                             placeholder=""
                             name="create_moment_max"
                             class="form-control"
                             id="create_moment_max"
                             (change)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrepend10">{{ 'payload_list_msg7' | translate}}</span>
                      </div>
                      <input type="date"
                             formControlName="create_moment_exact"
                             placeholder=""
                             name="create_moment_exact"
                             class="form-control"
                             id="create_moment_exact"
                             (change)="getExchanges(this.exchangesURL)">
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </form>


          <div class="row pb-5">
            <div class="col-md-12" style="max-height:60vh;overflow-y:auto" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="fetchNext()" [scrollWindow]= "false">
              <div class="table-responsive-md"  *ngIf="this.exchanges.length > 0  && this.hasVipSubscription">
                <table class="table">
                  <thead>
                  <tr class="table-success">
                    <th *ngIf="userService.hasAuthority('BAR')">{{ 'payload_list_client' | translate}}</th>
                    <th *ngIf="userService.hasAuthority('BAR')">{{ 'payload_list_employee' | translate}}</th>
                    <th>{{ 'payload_list_location' | translate}}</th>
                    <th>{{ 'exchange_list_sale' | translate}}</th>
                    <th>{{ 'exchange_list_points' | translate}}</th>
                    <th>{{ 'payload_list_creation_time' | translate}}</th>
                    <th>{{ 'payload_list_scan_time' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="this.hasVipSubscription">
                  <tr *ngFor="let exchange of exchanges">
                    <td *ngIf="userService.hasAuthority('BAR')">{{exchange.client.name}} ({{exchange.client.user_account.username}})</td>
                    <td *ngIf="userService.hasAuthority('BAR')">
                      <span *ngIf="exchange.employee != undefined">
                        {{exchange.employee.name}} ({{exchange.employee.user_account.username}})
                      </span>
                      <span *ngIf="exchange.employee == undefined">
                        {{ 'payload_list_msg12' | translate}}
                      </span>
                    </td>
                    <td (click)="showLocation(exchange.sale.location)" class="grab">{{exchange.sale.location.name}}</td>
                    <td>{{exchange.sale.title}}</td>
                    <td>{{exchange.sale.number_points}} {{ 'exchange_points_row' | translate}}</td>
                    <td>{{exchange.create_moment | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{exchange.scanned_moment | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <br>
              <br>

              <h3 *ngIf="this.hasVipSubscription && this.exchanges.length < 1" style="text-align: center; color: #a94442;">
                {{"nothing_found" | translate}}
              </h3>

              <h3 *ngIf="!this.hasVipSubscription" style="text-align: center; color: #a94442;">
                {{ 'payload_list_no_vip_subscription' | translate}}
              </h3>

            </div>
          </div>
        </div>

        <div *ngIf="this.hasVipSubscription && userService.hasAuthority('BAR')" id="chartColumnsContainer" style="height: 370px; width: 100%;"></div><br><br><br><br><br>
        <div *ngIf="this.hasVipSubscription && userService.hasAuthority('BAR')" id="chartTwoColumnsContainer" style="height: 300px; width: 100%;"></div><br><br><br><br><br>
        <div *ngIf="this.hasVipSubscription && userService.hasAuthority('BAR')" id="chartThreePieContainer" style="height: 300px; width: 100%;"></div>


      </div>
    </div>
  </div>
</div>
