<section id="header">
  <div class="container">
    <div class="page-wrapper p-t-180">
      <div class="wrapper">
        <div class="card card-2">
          <div class="card-body">
            <h2 style="text-align: center;">
              {{ "add_location" | translate }}
            </h2>
            <br />
            <form id="location-create-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">{{ "name" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.name.errors" class="alert text-danger">
                      <span *ngIf="formControls.name.errors.required">{{
                        "name_required" | translate
                      }}</span>
                      <span *ngIf="formControls.name.errors.maxlength">{{ 'title_maxLength' | translate}}</span>
                    </span>
                    <input type="text" formControlName="name" placeholder="Bar Pepe" name="name" class="form-control"
                      id="name" />
                  </div>

                  <div class="form-group">
                    <label for="description">{{ "description" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.description.errors" class="alert text-danger">
                      <span *ngIf="formControls.description.errors.required">{{
                        "description_required" | translate
                      }}</span>

                      <span *ngIf="formControls.description.errors.maxlength">{{ 'description_maxLength' | translate}}</span>
                    </span>

                    <input type="text" formControlName="description" placeholder="Restaurante" name="description"
                      class="form-control" id="description" />
                    <div id="char-count">{{ "char-count" | translate }}</div>
                  </div>

                  <div class="form-group">
                    <label for="email">{{ "email" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.email.errors" class="alert text-danger">
                      <span *ngIf="formControls.email.errors.required">{{
                        "email_required" | translate
                      }}</span>
                      <span *ngIf="formControls.email.errors.pattern">{{ 'email_incorrect' | translate}}</span>
                    </span>
                    <input type="text" formControlName="email" placeholder="barPepe@gmail.com" name="email"
                      class="form-control" id="email" />
                  </div>

                  <div class="form-group">
                    <label for="website">{{ "website" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.website.errors" class="alert text-danger">
                      <span *ngIf="formControls.website.errors.required">{{
                        "website_required" | translate
                      }}</span>
                      <span *ngIf="formControls.website.errors.pattern">{{
                        "website_incorrect" | translate
                      }}</span>
                    </span>
                    <input type="text" formControlName="website" placeholder="https://www.pointbar.site" name="website"
                      class="form-control" id="website" />
                  </div>

                  <div class="form-group">
                    <label for="logo">{{ "logo" | translate }}: &nbsp;</label>
                    <span *ngIf="formControls.logo.errors" class="alert text-danger">
                      <span *ngIf="formControls.logo.errors.size">{{
                        "image_size" | translate
                      }}</span>
                    </span>
                    <input #logoFile type="file" class="form-control-file" (change)="onFileChange($event)"
                      accept="image/*" />
                  </div>
                  <div *ngIf="logo" style="text-align: center;">
                    <img style="height: 15em;" class="img-fluid" src="{{ logo }}" alt="Red dot" />
                  </div>

                  <div class="form-group">
                    <label for="photo">{{ "photo" | translate }}: &nbsp;</label>
                    <span *ngIf="formControls.photo.errors" class="alert text-danger">
                      <span *ngIf="formControls.photo.errors.size">{{
                        "images_size" | translate
                      }}</span>
                    </span>
                    <input #photoFile type="file" class="form-control-file" (change)="addFiles($event)" accept="image/*"
                      multiple />
                  </div>

                  <div *ngIf="photo">
                    <img *ngFor="let p of photo; index as i; first as isFirst" style="height: 10em;" src="{{ p }}"
                      class="img-fluid" alt="Single picture" />
                  </div>
                  <div class="form-group" *ngIf="isSubmitted && formControls.latitude.errors">
                    <label for="latitude">{{ "latitude" | translate }}:</label>
                    <span class="alert text-danger">
                      <span *ngIf="formControls.latitude.errors.required">{{
                        "latitude_required" | translate
                      }}</span>
                    </span>
                  </div>
                  <input type="hidden" formControlName="latitude" name="latitude" class="form-control" id="latitude" />

                  <div class="form-group" *ngIf="isSubmitted && formControls.longitude.errors">
                    <label for="longitude">{{ "longitude" | translate }}:</label>
                    <span class="alert text-danger">
                      <span *ngIf="formControls.latitude.errors.required">{{
                        "longitude_required" | translate
                      }}</span>
                    </span>
                  </div>
                  <input type="hidden" formControlName="longitude" name="longitude" class="form-control"
                    id="longitude" /><br />
                  <p style="text-align: left;">
                    {{ "create_location_help" | translate }}
                  </p>
                  <br />
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="street">{{ "street" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.street.errors" class="alert text-danger">
                      <span *ngIf="formControls.street.errors.required">{{
                        "street_required" | translate
                      }}</span>
                    </span>
                    <input type="text" formControlName="street" placeholder="C/Lora del Río" name="street"
                      class="form-control" id="street" />
                  </div>

                  <div class="form-group">
                    <label for="city">{{ "city" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.city.errors" class="alert text-danger">
                      <span *ngIf="formControls.city.errors.required">{{
                        "city_required" | translate
                      }}</span>
                    </span>
                    <input type="text" formControlName="city" placeholder="Sevilla" name="city" class="form-control"
                      id="city" />
                  </div>

                  <div class="form-group">
                    <label for="state">{{ "state" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.state.errors" class="alert text-danger">
                      <span *ngIf="formControls.state.errors.required">{{
                        "state_required" | translate
                      }}</span>
                    </span>
                    <input type="text" formControlName="state" placeholder="Andalucía" name="state" class="form-control"
                      id="state" />
                  </div>

                  <div class="form-group">
                    <label for="postal_code">{{ "postal_code" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.postal_code.errors" class="alert text-danger">
                      <span *ngIf="formControls.postal_code.errors.required">{{
                        "postal_code_required" | translate
                      }}</span>
                    </span>
                    <input type="text" formControlName="postal_code" placeholder="41410" name="postal_code"
                      class="form-control" id="postal_code" />
                  </div>

                  <div class="form-group">
                    <label for="country">{{ "country" | translate }}:</label>
                    <span *ngIf="isSubmitted && formControls.country.errors" class="alert text-danger">
                      <span *ngIf="formControls.country.errors.required">{{
                        "country_required" | translate
                      }}</span>
                    </span>
                    <input type="text" formControlName="country" placeholder="España" name="country"
                      class="form-control" id="country" />
                  </div>

                  <div style="text-align:right;">
                    <button class="btn" type="button" (click)="openModal()">{{ "add_location" | translate }}</button>
                  </div>
                </div>
              </div>
            </form>
            <agm-map [zoom]="14" [latitude]="lat" [longitude]="lng" (mapReady)="mapReady($event)">
              <button id="Location" (click)="findMe()">Ubícame</button>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
