<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-body">

          <div class="row">

            <div class="col-md-6 align-self-center">

              <ngx-kjua class="text-center" [text]='this.qrCode'></ngx-kjua>
              <br>
              <h2
                style="padding-bottom: 25px"
                class="text-center">
                {{ 'payload_show_msg2' | translate}}
                <strong>{{this.points}}</strong>
                {{ 'payload_show_msg3' | translate}}
              </h2>

              <!-- <h3
              *ngIf="this.maxPointsReached"
              style="padding-bottom: 25px"
              class="text-center">
              {{ 'payload_show_max_points' | translate}}
              </h3> -->

              <div style="text-align: center;">
                <button class="btn" style="margin-bottom: 10px" (click)="return()">{{ 'payload_back' | translate}}</button>
              </div>
            </div>

            <div class="col-md-6">
              <div class="jumbotron">
                <h1
                  style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: 600">{{ 'payload_show_1' | translate}}</h1>
                <br>

                <p class="lead" style="text-align: justify">
                  {{ 'payload_show_msg1' | translate}}
                </p>
                <br>

                <p class="lead" style="text-align: justify">
                  {{ 'payload_show_4' | translate}}
                </p>
                <br>
                <div style="text-align:center">
                  <i class="fa" [satPopoverAnchor]='popover' (click)="popover.toggle()">
                  &#xf05a;
                  </i>
                  <sat-popover #popover hasBackdrop verticalAlign="below">
                      <div class="info mat-caption">{{ 'payload_show_license' | translate}} <br/><a href='https://github.com/werthdavid/ngx-kjua/blob/master/LICENSE'> {{ 'license_here' | translate}}</a>
                      </div>
                  </sat-popover>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
