<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper">
      <div class="card card-2">
        <div class="card-body">
          <h2 style="text-align: center;">{{ 'edit_location' | translate}}</h2>
          <br>
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="col-md-5">
                <div class="form-group">
                  <label for="logo">{{ 'logo' | translate}}: &nbsp;</label>
                  <span *ngIf="formControls.logo.errors" class="alert text-danger">
                    <span *ngIf="formControls.logo.errors.size">{{ 'image_size' | translate}}</span>
                  </span>
                  <input #logoFile type="file" class="form-control-file" (change)="onFileChange($event)" />
                </div>
                <div *ngIf="logo" style="text-align: center;">
                  <img style="height: 15em;" class="img-fluid" src="{{ logo }}" alt="Red dot" />
                </div>
              </div>

              <div class="col-md-7">

                <div class="form-group">
                  <label for="name">{{ 'name' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.name.errors" class="alert text-danger">
                    <span *ngIf="formControls.name.errors.required">{{ 'name_required' | translate}}</span>
                    <span *ngIf="formControls.name.errors.maxlength">{{ 'title_maxLength' | translate}}</span>
                  </span>
                  <input type="text" formControlName="name" placeholder="Bar Pepe" name="name" class="form-control" id="name" disabled>
                </div>

                <div class="form-group">
                  <label for="description">{{ 'description' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.description.errors" class="alert text-danger">
                    <span *ngIf="formControls.description.errors.required">{{ 'description_required' | translate}}</span>
                    <span *ngIf="formControls.description.errors.maxlength">{{ 'description_maxLength' | translate}}</span>
                  </span>
                  <input type="text" formControlName="description" placeholder="Restaurante" name="description" class="form-control" id="description">
                </div>

                <div class="form-group">
                  <label for="email">{{ 'email' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.email.errors" class="alert text-danger">
                    <span *ngIf="formControls.email.errors.required">{{ 'email_required' | translate}}</span>
                    <span *ngIf="formControls.email.errors.pattern">{{ 'email_incorrect' | translate}}</span>
                  </span>
                  <input type="text" formControlName="email" placeholder="barPepe@gmail.com" name="email" class="form-control" id="email">
                </div>

                <div class="form-group">
                  <label for="website">{{ 'website' | translate}}:</label>
                  <span *ngIf="isSubmitted && formControls.website.errors" class="alert text-danger">
                    <span *ngIf="formControls.website.errors.required">{{ 'website_required' | translate}}</span>
                    <span *ngIf="formControls.website.errors.pattern">{{ 'website_incorrect' | translate}}</span>
                  </span>
                  <input type="text" formControlName="website" placeholder="barPepe@gmail.com" name="website" class="form-control" id="website">
                </div>

                <div style="text-align: right;">
                  <button class="btn">{{ 'edit_location' | translate}}</button>
                </div>

              </div>

              <div class="col-md-10">
                <div class="form-group">
                <label for="photo">{{ 'photo' | translate}}: &nbsp;</label>
                <span *ngIf="formControls.photo.errors" class="alert text-danger">
                  <span *ngIf="formControls.photo.errors.size">{{ 'images_size' | translate}}</span>
                </span>
                <input #photoFile type="file" class="form-control-file" (change)="addFiles($event)" accept="image/*" multiple />
              </div>

        <div *ngIf="photo">
        <img *ngFor="let p of photo; index as i; first as isFirst"  style="height: 10em;" src="{{ p }}" class="img-fluid" alt="Single picture" />
        </div>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</section>
