<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-body">
          <form [formGroup]="createForm" (ngSubmit)="onSubmit()">


            <div class="row">

              <div class="col-md-12">
                <img
                  src="https://i.imgur.com/2biXIia.jpg"
                  class="img-fluid" alt="Responsive image">
              </div>

            </div>

            <div class="row" style="margin-top: 20px">

              <div class="col-md-12">

                <h2
                  style="margin-top: 15px; font-weight: bold;text-align: left; font-family: 'Poppins', sans-serif">{{ 'create_sale_1' | translate}}</h2>
                <br>
                <p style="text-align: left">{{ 'create_sale_2' | translate}}</p>
                <br>
                <p style="text-align: left">{{ 'create_sale_3' | translate}}</p>
                <br>

              </div>

              <div class="col-md-6">
                <h2
                  style="margin-top: 15px; font-weight: bold;text-align: left; font-family: 'Poppins', sans-serif">{{ 'create_sale_4' | translate}}</h2>
                <br>
                <p style="text-align: left">{{ 'create_sale_5' | translate}}</p>
                <br>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependTitle">{{ 'title' | translate}}</span>
                    </div>
                    <input type="text" formControlName="title" placeholder="{{ 'create_sale_6' | translate}}" name="title"
                           class="form-control" id="title">
                  </div>
                  <span *ngIf="isSubmitted && formControls.title.errors" class="alert text-danger">
                    <span *ngIf="formControls.title.errors.required">{{ 'title_required' | translate}}</span>
                    <span *ngIf="formControls.title.errors.maxlength">{{ 'title_maxLength' | translate}}</span>
                  </span>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependDescription">{{ 'description' | translate}}</span>
                    </div>
                    <textarea type="text" formControlName="description" placeholder="{{ 'create_sale_7' | translate}}"
                              name="description" class="form-control" id="description"></textarea>
                  </div>
                 <span *ngIf="isSubmitted && formControls.description.errors" class="alert text-danger">
                    <span *ngIf="formControls.description.errors.required">{{ 'description_required' | translate}}</span>
                    <span *ngIf="formControls.description.errors.maxlength">{{ 'description_maxLength' | translate}}</span>
                  </span>
                </div>

               <div class="form-group">
                  <p style="text-align: justify">{{ 'create_challenge_5' | translate}}</p>
                  <div *ngIf="photo">
                    <div align="center">
                      <img style="height: 10em" class="img-fluid" src="{{ photo }}" alt="{{ 'picture' | translate}}" />
                    </div>
                    <p style="margin-top: 5px; margin-bottom: 15px; font-weight: bold">
                      {{ 'create_challenge_6' | translate}}</p>
                    <p style="margin-top: 5px; margin-bottom: 15px">{{ 'create_challenge_7' | translate}}</p>
                  </div>
                  <span *ngIf="formControls.photo.errors" class="alert text-danger">
                    <span *ngIf="formControls.photo.errors.size">{{ 'image_size' | translate}}</span>
                  </span>
                  <input style="align-self: center; margin-top: 10px" #myFile type="file" class="form-control-file"
                    (change)="onFileChange($event)" />
                </div>

              </div>

              <div class="col-md-6">

                <h2
                  style="margin-top: 15px; font-weight: bold;text-align: left; font-family: 'Poppins', sans-serif">{{ 'create_sale_8' | translate}}</h2>
                <br>
                <p style="text-align: left">{{ 'create_sale_9' | translate}}</p>
                <br>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependNumberPoint">{{ 'number_points' | translate}}</span>
                    </div>
                    <input type="number" formControlName="number_points" placeholder="{{ 'create_sale_10' | translate}}" name="number_points"
                           class="form-control" id="number_points">
                  </div>
                  <span *ngIf="isSubmitted && formControls.number_points.errors" class="alert text-danger">
                    <span *ngIf="formControls.number_points.errors.required">{{ 'number_points_required' | translate}}</span>
                    <span *ngIf="formControls.number_points.errors.pattern">{{ 'number_points_min' | translate}}</span>
                  </span>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependStartDate">{{ 'start_date' | translate}}</span>
                    </div>
                    <input type="date" onkeydown="event.preventDefault()" formControlName="start_date" placeholder="YYYY-MM-DD" name="start_date" class="form-control"
                           id="start_date">
                  </div>
                  <span *ngIf="isSubmitted && formControls.start_date.errors" class="alert text-danger">
                    <span *ngIf="formControls.start_date.errors.required">{{ 'start_date_required' | translate}}</span>
                    <span *ngIf="formControls.start_date.errors.after">{{ 'start_date_after' | translate}}</span>
                  </span>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependExpirationDate">{{ 'expiration_date' | translate}}</span>
                    </div>
                    <input type="date" onkeydown="event.preventDefault()" formControlName="expiration_date" placeholder="YYYY-MM-DD" name="expiration_date" class="form-control"
                           id="expiration_date">
                  </div>
                  <span *ngIf="isSubmitted && formControls.expiration_date.errors" class="alert text-danger">
                    <span *ngIf="formControls.expiration_date.errors.required">{{ 'expiration_date_required' | translate}}</span>
                    <span *ngIf="formControls.expiration_date.errors.after">{{ 'expiration_date_after' | translate}}</span>
                  </span>
                </div>

                <span *ngIf="isSubmitted && createForm.errors" class="alert text-danger">
                  <small *ngIf="createForm.errors.date_range">{{ 'start_date_date_range' | translate}}</small>
                </span>

                <div class="col text-center">
                  <button class="btn">{{'add_sale' | translate}}</button>
                </div>

              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
