<div class="container">
  <div class="p-t-20">

    <div class="row">
      <div class="col-md-12 align-self-center align-items-stretch">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-12">
              <h1 class="display-4">{{"msg_1" |translate}}</h1>
              <p class="lead m-3">{{"msg_2" |translate}}</p>
              <hr class="my-4">
            </div>
          </div>

          <div style="max-height:40vh;overflow-y:auto" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="fetchNextUnread()" [scrollWindow]= "true">
            <div class="row m-2 p-1" style="background-color: #bbbab8; border-radius: 50px" *ngFor="let notification of notificationsUnread">
              <div class="col-md-2 col-xl-2 align-self-center" align="center">
                <img class="card-img-top" style="width: 6em; height: 6em" src="../../assets/img/logo.png" alt="Card image cap">
              </div>
              <div class="col-sm-12 col-md-6  col-xl-4 align-self-center" align="center">
                <h6 style="text-align: left" class="card-subtitle mb-2 text-muted">{{notification.timestamp.substr(0, 10)}}</h6>
                <h5 style="text-align: left"class="card-title"><strong>{{notification.verb.split('___')[0] | translate}}</strong></h5>
                <h6 style="text-align: left"class="card-title" *ngIf="notification.description != undefined && (notification.verb.split('___').length <= 1)">
                  {{notification.description | translate}}
                </h6>
                <h6 style="text-align: left"class="card-title" *ngIf="notification.description != undefined && (notification.verb.split('___').length > 1)">
                  {{notification.verb.split('___')[1]}} {{notification.description | translate}}
                </h6>
              </div>
              <div class="col-sm-12 col-md-6  align-self-center">
                <button class="btn mt-3" (click)="markAsRead(notification.id)">
                  {{ 'notification_markAsRead' | translate}} </button>
                &nbsp;
                <button class="btn mt-3" (click)="delete(notification.id)">
                  {{ 'notification_delete' | translate}} </button>
              </div>
            </div>
          </div>
          <div class="row m-2 p-1" *ngIf="notificationsUnread.length<1">
            <div align="center">
              <p class="lead m-3" style="color: #a94442">{{'msg_5' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 align-self-center align-items-stretch">
        <div class="jumbotron jumbotron-fluid">
          <div class="row">
            <div class="col-md-12">
              <h1 class="display-4">{{"msg_3" |translate}}</h1>
              <p class="lead m-3">{{"msg_4" |translate}}</p>
              <hr class="my-4">
            </div>
          </div>

          <div style="max-height:40vh;overflow-y:auto" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="fetchNextRead()" [scrollWindow]= "false">
            <div class="row m-2 p-1" style="background-color: #bbbab8; border-radius: 50px" *ngFor="let notification of notificationsRead">
              <div class="col-sm-3 col-md-2 col-xl-2 align-self-center" align="center">
                <img class="card-img-top" style="width: 6em; height: 6em" src="../../assets/img/logo_bn.png" alt="Card image cap">
              </div>
              <div class="col-sm-9 col-md-6 col-xl-6 align-self-center" align="center">
                <h6 style="text-align: left" class="card-subtitle mb-2 text-muted">{{notification.timestamp.substr(0, 10)}}</h6>
                <h5 style="text-align: left"class="card-title"><strong>{{notification.verb.split('___')[0] | translate}}</strong></h5>
                <h6 style="text-align: left"class="card-title" *ngIf="notification.description != undefined && (notification.verb.split('___').length <= 1)">
                  {{notification.description | translate}}
                </h6>
                <h6 style="text-align: left"class="card-title" *ngIf="notification.description != undefined && (notification.verb.split('___').length > 1)">
                  {{notification.verb.split('___')[1]}} {{notification.description | translate}}
                </h6>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-4 align-self-center">
                <button class="btn" (click)="delete(notification.id)">
                  {{ 'notification_delete' | translate}} </button>
              </div>
            </div>
          </div>
          <div class="row m-2 p-1" *ngIf="notificationsRead.length<1">
            <div align="center">
              <p class="lead m-3" style="color: #a94442">{{'msg_6' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
