img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    text-align: center;  
}

.jumbotron {
    padding: 1rem 0rem;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
}

.delete-btn {
    background-color: red;
}
