<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-body">
          <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

            <div class="row">

              <div class="col-xl-6">
                <div align="center">
                  <img style="border-radius: 35px; width: 100%;height: 100%; margin-bottom: 15px" class="img-fluid" src="https://images.unsplash.com/photo-1566015512016-1b2724252d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="picture" />
                </div>
              </div>

              <div class="col-xl-6">
                <div class="jumbotron" style= "padding: 0px; background-color:transparent;">
                  <div class="col-md-12">
                    <h1 class="display-4">{{ 'create_challenge_1' | translate}}</h1>
                    <br>
                    <p class="lead" style="text-align: justify">{{ 'create_challenge_2' | translate}}</p>
                    <br>

                    <p class="lead" style="text-align: justify">{{ 'create_challenge_10' | translate}}</p>
                    <br>

                    <p class="lead" style="text-align: justify">{{ 'create_challenge_3' | translate}}</p>
                    <br>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroupPrependDescriptionChallenge">{{ 'challenge_type' | translate}}</span>
                        </div>
                        <select class="form-control" formControlName="tipe" (change)="onChange($event.target.value)">
                          <option *ngFor="let type of types" [ngValue]="type">{{"type_" + type | translate}}</option>
                        </select>
                      </div>
                    </div>
                    <span *ngIf="isSubmitted && formControls.tipe.errors" class="alert text-danger">
                    <span *ngIf="formControls.tipe.errors.required">{{ 'type_required' | translate}}</span>
                  </span>


                    <div
                      *ngIf="createForm.value.tipe == 'AM' || createForm.value.tipe == 'IM' || createForm.value.tipe == 'CM'">
                    <span *ngIf="isSubmitted && formControls.money_spent.errors" class="alert text-danger">
                      <span
                        *ngIf="formControls.money_spent.errors.required">{{ 'challenge_money_spent_required' | translate}}</span>
                      <span
                        *ngIf="formControls.money_spent.errors.min">{{ 'challenge_money_spent_min' | translate}}</span>
                      <span
                        *ngIf="formControls.money_spent.errors.max">{{ 'challenge_money_spent_max' | translate}}</span>
                    </span>
                      <div class="form-group">
                        <label for="money_spent">{{ 'challenge_money_spent_' + createForm.value.tipe | translate}}:
                          &nbsp;</label>
                        <input type="number" formControlName="money_spent" name="money_spent" class="form-control"
                               id="money_spent">
                      </div>
                    </div>
                    <div
                      *ngIf="createForm.value.tipe == 'C' || createForm.value.tipe == 'D' || createForm.value.tipe == 'CM'">
                  <span *ngIf="isSubmitted && formControls.number.errors" class="alert text-danger">
                    <span
                      *ngIf="formControls.number.errors.required">{{ 'challenge_number_required' | translate}}</span>
                    <span *ngIf="formControls.number.errors.min">{{ 'challenge_number_min' | translate}}</span>
                    <span *ngIf="formControls.number.errors.max">{{ 'challenge_number_max' | translate}} sadas</span>
                  </span>
                      <div class="form-group">
                        <label for="days">{{ 'challenge_amount_' + createForm.value.tipe  | translate}}: &nbsp;</label>
                        <input type="number" formControlName="number" name="days" class="form-control" id="days">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 20px">

              <div class="col-md-6">

                <h3 style="margin-top: 15px; font-weight: bold;text-align: justify; font-family: 'Poppins', sans-serif">{{ 'create_challenge_4' | translate}}</h3>
                <br>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependTitle">{{ 'title' | translate}}</span>
                    </div>
                    <input type="text" formControlName="title" placeholder="Do yo want to win 5 point?" name="title"
                      class="form-control" id="title">
                  </div>
                  <span *ngIf="isSubmitted && formControls.title.errors" class="alert text-danger">
                    <span *ngIf="formControls.title.errors.required">{{ 'title_required' | translate}}</span>
                    <span *ngIf="formControls.title.errors.maxlength">{{ 'title_maxLength' | translate}}</span>
                  </span>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        id="inputGroupPrependDescription">{{ 'description' | translate}}</span>
                    </div>
                    <textarea type="text" formControlName="description" placeholder="In this challenge you have to ..."
                      name="description" class="form-control" id="description"></textarea>
                  </div>
                  <span *ngIf="isSubmitted && formControls.description.errors" class="alert text-danger">
                    <span *ngIf="formControls.description.errors.required">{{ 'description_required' | translate}}</span>
                    <span *ngIf="formControls.description.errors.maxlength">{{ 'description_maxLength' | translate}}</span>
                  </span>
                </div>

                <div class="form-group">
                  <p style="text-align: justify">{{ 'create_challenge_5' | translate}}</p>
                  <span *ngIf="formControls.photo.errors" class="alert text-danger">
                    <small
                      *ngIf="formControls.photo.errors.size">{{ 'image_size' | translate}}</small>
                  </span>
                  <div *ngIf="photo">
                    <div align="center">
                      <img style="height: 10em" class="img-fluid" src="{{ photo }}" alt="{{ 'picture' | translate}}" />
                    </div>
                    <p style="margin-top: 5px; margin-bottom: 15px; font-weight: bold">
                      {{ 'create_challenge_6' | translate}}</p>
                    <p style="margin-top: 5px; margin-bottom: 15px">{{ 'create_challenge_7' | translate}}</p>
                  </div>
                  <input style="align-self: center; margin-top: 10px" #myFile type="file" class="form-control-file"
                    (change)="onFileChange($event)" />
                </div>

              </div>

              <div class="col-md-6">

                <h3 style="margin-top: 15px; font-weight: bold;text-align: justify; font-family: 'Poppins', sans-serif">{{ 'create_challenge_8' | translate}}</h3>
                <br>

                <span *ngIf="isSubmitted && createForm.errors" class="alert text-danger">
                  <small *ngIf="createForm.errors.date_range">{{ 'start_date_date_range' | translate}}</small>
                </span>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        id="inputGroupPrependStartDate">{{ 'start_date' | translate}}</span>
                    </div>
                    <input type="date" onkeydown="event.preventDefault()" formControlName="start_date" placeholder="YYYY-MM-DD" name="start_date"
                      class="form-control" id="start_date">
                  </div>
                  <span *ngIf="isSubmitted && formControls.start_date.errors" class="alert text-danger">
                    <span *ngIf="formControls.start_date.errors.required">{{ 'start_date_required' | translate}}</span>
                    <span *ngIf="formControls.start_date.errors.after">{{ 'start_date_after' | translate}}</span>
                  </span>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        id="inputGroupPrependExpirationDate">{{ 'expiration_date' | translate}}</span>
                    </div>
                    <input type="date" onkeydown="event.preventDefault()" formControlName="expiration_date" placeholder="YYYY-MM-DD" name="expiration_date"
                      class="form-control" id="expiration_date">
                  </div>
                  <span *ngIf="isSubmitted && formControls.expiration_date.errors" class="alert text-danger">
                    <span *ngIf="formControls.expiration_date.errors.required">{{ 'expiration_date_required' | translate}}</span>
                    <span *ngIf="formControls.expiration_date.errors.after">{{ 'expiration_date_after' | translate}}</span>
                  </span>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <p style="text-align: justify">{{ 'create_challenge_9' | translate}}</p>
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        id="inputGroupPrependNumberPoints">{{ 'challenge_number_points' | translate}}</span>
                    </div>
                    <br>
                    <input type="number" formControlName="number_points" name="number_points" class="form-control"
                      id="number_points">
                  </div>
                  <span *ngIf="isSubmitted && formControls.number_points.errors" class="alert text-danger">
                    <span
                      *ngIf="formControls.number_points.errors.required">{{ 'number_points_required' | translate}}</span>
                    <span *ngIf="formControls.number_points.errors.min">{{ 'number_points_min' | translate}}</span>
                    <span *ngIf="formControls.number_points.errors.max">{{ 'number_points_max' | translate}}</span>
                  </span>
                </div>

                <div class="col text-center">
                  <button class="btn" type="button" (click)="openModal()">{{'save' | translate}}</button>
                </div>

              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
