<div class="container">
  <div class="page-wrapper p-t-20">
    <div class="wrapper">
      <div class="card card-2">
        <div class="card-body">
          <div class="row" style="margin-bottom:2em">
            <div class="col-md-12 pt-4 pl-4 pr-4">
              <h2 style="text-align: left">{{ 'info_subscription' | translate}}</h2>
              <br>
              <p class="lead" style="text-align: justify">{{"msg_subscription_show_1" | translate}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-7">

              <div class="jumbotron pt-0 pb-0">

                <h4 class="pt-4" style="text-align: left">{{ 'location' | translate}}</h4>
                <br>
                <p class="lead" style="text-align: justify">{{subscription.location.name}}</p>
                <br>

                <h4 style="text-align: left">{{ 'membership_type' | translate}}</h4>
                <br>
                <p class="lead" style="text-align: justify">{{subscription.membership.membership_type}}</p>
                <br>

                <h4 style="text-align: left">{{ 'membership_info' | translate}}</h4>
                <br>
                <p class="lead" *ngIf="currentLang=='en'" style="text-align: justify">{{subscription.membership.descriptionE}}</p>
                <p class="lead" *ngIf="currentLang=='es'" style="text-align: justify">{{subscription.membership.descriptionS}}</p>
                <br>

              </div>
            </div>

            <div class="col-md-5 align-self-center">
              <div align="center">
                <img style="border-radius: 25px" class="img-fluid align-content-md-stretch"
                     src="{{subscription.location.logo}}"
                     onerror="this.src='../../assets/img/logo.png'"
                     alt="{{ 'picture' | translate}}"/>
              </div>

            <div *ngIf="subscription.is_active" class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                  <button class="btn mt-3 w-100" type="button" (click)="deleteModal(subscription)">{{ 'cancel_subscription' | translate}}</button>
                </div>

                <div class="col-md-2"></div>

            </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
