.col-md-6 img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper--w960 {
  max-width: max-content;
}

.card-img-top {
  width: 140%;
  height: 20em;
  object-fit: cover;
}

.card-style {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-2 .card-body {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
