<div class="container" style="width: 95%;">
  <div class="page-wrapper p-t-180 p-b-100">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-body">

          <div class="row mr-4 ml-4 mt-4">

            <div class="col-md-8">
              <h1 style="text-align: left">{{ 'about_1' | translate}}</h1>
              <br>
              <p style="text-align: justify">
                {{ 'about_2' | translate}}
              </p>
              <br>
              <p style="text-align: justify">
                {{ 'about_3' | translate}}
              </p>
              <br>
            </div>

            <div class="col-md-4">
              <div align="center">
                <img style="border-radius: 25px; padding: 0px; margin: 0px" class="img-fluid"
                     src="../../assets/img/team/team.jpg"
                     alt="{{ 'picture' | translate}}"/>
              </div>
            </div>

          </div>

          <div class="row mt-3">

            <div class="col-md-12">
              <div class="jumbotron">
                <h1 class="display-4">{{ 'about_5' | translate}}</h1>
                <br>
                <p class="lead">
                  {{ 'about_6' | translate}}
                </p>
                <hr class="my-4">
                <br>

              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div align="center">
                      <img
                        src="../../assets/img/team/hipona.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Antonio Sánchez Hipona</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/alvaro.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Álvaro de la Flor Bonilla</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <div class="jumbotron">
                <h1 class="display-4">{{ 'about_7' | translate}}</h1>
                <br>
                <p class="lead">
                  {{ 'about_8' | translate}}
                </p>
                <hr class="my-4">
                <br>

              <div class="row">
                <div class="col-md-6" >
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/antonio_listo.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Antonio Martinez Rojas</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/ferrete.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">José Antonio Ferrete Molle</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="jumbotron" style="margin-top: 25px">
              <div class="col-md-12">
                <h1 class="display-4">Backend</h1>
                <br>
                <p class="lead">
                  {{ 'about_9' | translate}}
                </p>
                <hr class="my-4">
                <br>
              </div>
              <div class="row">
                <div class="col-md-6" style="margin-bottom: 25px">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/juanlu.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Juan Luis Pérez Barrera</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/raul.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Raúl García Limones</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/blanca_suarez.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Francisco Javier Sánchez Mateos
                        </h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/aguza.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">José Manuel Aguza Barragán</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 0px; padding-bottom: 0px">
            <div class="jumbotron" style="margin-top: 25px; margin-bottom: 0px; padding-bottom: 25px">
              <div class="col-md-12">
                <h1 class="display-4">Frontend</h1>
                <br>
                <p class="lead">
                  {{ 'about_10' | translate}}
                </p>
                <hr class="my-4">
                <br>
              </div>
              <div class="row">
                <div class="col-md-6" style="margin-bottom: 25px">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/pablo.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Pablo Ripoll Torrejón</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/carmen.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Carmen Fernández Benjumea</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/fran.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Francisco Batista Núñez</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div align="center">
                    <div class="card">
                      <img
                        src="../../assets/img/team/salvat.jpg"
                        class="card-img-top" alt="alt">
                      <div class="card-style">
                        <strong><h3 class="card-title">Antonio Manuel Salvat Pérez</h3></strong>
                        <!--
                        <p ALIGN="justify" class="card-text">
                          Linkedin
                        </p>
                        -->
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div align="center">
                    <img style="border-radius: 25px; padding-top: 25px" class="img-fluid"
                         src="../../assets/img/logo2.png"
                         alt="{{ 'picture' | translate}}"/>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

