<div class="container">
  <div class="p-t-20">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron" *ngIf="empty">
          <h1 class="display-4" style="text-align: left">{{'employee_msg_1' | translate}}</h1>
          <br>
          <p class="lead" style="text-align: justify">{{'employee_msg_2' | translate}}</p>
          <hr class="my-4">
          <p style="text-align: justify">{{'employee_msg_3' | translate}}</p>
          <br>
          <div align="center">
            <button id="employee-register-button" class="btn" routerLink="../employee-register">
              {{ "register_employee" | translate }}
            </button>
          </div>
        </div>
        <div class="col-md-12" *ngIf="!empty">
          <div class="row">
            <div class="col-md-12">
              <h2 style="text-align: center">{{'employee' | translate}}</h2>
            </div>
            <div class="col-md-12 mt-4">
              <div align="right">
                <button id="employee-register-button" class="btn" routerLink="../employee-register">
                  {{ "register_employee" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pt-3 card-deck" infiniteScroll [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50" (scrolled)="fetchNext()">
      <div class="col-md-6 col-lg-3  align-items-stretch pb-3 card-deck" *ngFor="let l of employees">
        <div class="card">
          <div>
            <a class="grab" (click)="showLocation(l.location.id.toString())"><img *ngIf="l.location"
                                                                                  class="card-img-top"
                                                                                  src="{{ l.location.logo }}"
                                                                                  onerror="this.src='../../assets/img/logo.png';"
                                                                                  alt="Not Found"/>
              <img *ngIf="!l.location" class="card-img-top" src="../../assets/img/logo.png" alt="Not Found"/></a>
          </div>

          <div class="card-body">
            <a *ngIf="l.location" class="grab" (click)="showLocation(l.location.id.toString())">
              <h4 class="card-title" style="text-align: center;" (click)="editEmployee(l)">
                {{ l.name }} ({{ l.location.name }})
              </h4>
            </a>

            <a *ngIf="!l.location" class="grab">
              <h4 class="card-title" style="text-align: center;" (click)="editEmployee(l)">
                {{ l.name }}
              </h4>
            </a>
            <br/>
            <div class="row">
              <div *ngIf="l.control" class="col-sm-12 pr-1 pl-1" style="text-align:center;">
                <p> {{ 'granted_points' | translate}} {{ l.granted_points }} </p>
              </div>
              <div *ngIf="l.control" class="col-sm-12 pr-1 pl-1" style="text-align:center;">
                <button *ngIf="l.granted_points != 0" class="btn mt-3" (click)="resetGrantedPoints(l)">
                  {{ "reset_granted_points" | translate }}
                </button>
              </div>
              <div class="col-sm-12 pr-2 pl-2" style="text-align:center;">
                <button *ngIf="l.is_working && l.location" class="btn delete-btn mt-3" (click)="changeStatus(l)">
                  {{ "deactivate" | translate }}
                </button>
              </div>
              <div class="col-sm-12 pr-1 pl-1" style="text-align:center;">
                <button *ngIf="!l.is_working && l.location" class="btn delete2-btn mt-3" (click)="changeStatus(l)">
                  {{ "activate" | translate }}
                </button>
              </div>
            </div>
            <div class="row pt-4" *ngIf="locations && locations.length > 1">
              <div class="col-sm-12">
                <select name="location" id="location" class="custom-select"
                        (change)="changeLocation(l, $event.target.value)">
                  <option>{{ "select_location2" | translate }}</option>
                  <ng-container *ngFor="let location of locations">
                    <option *ngIf ="l.location != null && l.location.id != location.id" [value]="location.id">{{ location.name }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- spinner-->
    <div class="row pb-5">
      <div class="col-md-12 p-5">
        <ngx-spinner
          bdOpacity="0.9"
          bdColor=""
          size="default"
          color="lightseagreen"
          type="ball-pulse-sync"
          [fullScreen]="false"
        >
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>
