<div class="container">
  <div class="p-t-180">
    <div class="row">
      <div class="col-md-12">

        <div class="jumbotron" *ngIf="empty">
          <h1 class="display-4" style="text-align: left">{{'employee_msg_1' | translate}}</h1>
          <br>
          <p class="lead" style="text-align: justify">{{'location_msg_2' | translate}}</p>
          <hr class="my-4">
          <p style="text-align: justify">{{'location_msg_3' | translate}}</p>
          <br>
          <div align="center">
            <button id="location-create-button" class="btn" routerLink="../create-location">
              {{ "add_location" | translate }}
            </button>
          </div>
        </div>

        <div class="col-md-12" *ngIf="!empty">
          <div class="row">
            <div class="col-md-12">
              <h2 style="text-align: center;">{{ "my_locations" | translate }}</h2>
            </div>
            <div class="col-md-12 mt-4">
              <div align="right">
                <button id="location-create-button" class="btn" routerLink="../create-location">
                  {{ "add_location" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row justify-content-center pt-3 card-deck"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="fetchNext()"
    >
      <div
        class="col-md-6 col-lg-3  align-items-stretch pb-3 card-deck "
        *ngFor="let l of locations"
      >


        <div class="card" *ngIf="l.is_active">
          <div *ngIf="l.is_active">
            <div *ngIf="l.logo">
              <a class="grab" (click)="showLocation(l)">
                <img
                  class="card-img-top"
                  src="{{ l.logo }}"
                  alt="Card image cap"
              /></a>
            </div>
            <div *ngIf="!l.logo">
              <a class="grab" (click)="showLocation(l)"
                ><img
                  class="card-img-top"
                  src="../../assets/img/logo.png"
                  alt="Card image cap"
              /></a>
            </div>

            <div class="card-body">
              <a class="grab" (click)="showLocation(l)"
                ><h4 class="card-title">{{ l.name }}</h4></a
              >
              <div class="row justify-content-center mt-3">
                <button class="btn ml-1 mr-1 mt-2" (click)="editLocation(l)">
                  {{ "edit_location" | translate }}
                </button>
                <button
                  *ngIf="l.is_active"
                  class="btn delete-btn ml-1 mr-1 mt-2"
                  (click)="changeStatus(l)"
                >
                  {{ "DELETE" | translate }}
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="!l.is_active">
            <div *ngIf="l.logo">
              <a class="grab" (click)="showLocation(l)">
                <img
                  class="card-img-top"
                  src="{{ l.logo }}"
                  alt="Card image cap"
              /></a>
            </div>
            <div *ngIf="!l.logo">
              <a class="grab" (click)="showLocation(l)"
                ><img
                  class="card-img-top"
                  src="../../assets/img/logo.png"
                  alt="Card image cap"
              /></a>
            </div>

            <div class="card-body">
              <a class="grab" (click)="showLocation(l)"
                ><h4 class="card-title">{{ l.name }}</h4></a
              >
              <div class="row justify-content-center mt-3">
                <button class="btn ml-1 mr-1 mt-2" (click)="editLocation(l)">
                  {{ "edit_location" | translate }}
                </button>
              </div>
              <div class="row justify-content-center mt-3">
                <p class=" text-center desactive ml-1 mr-1 mt-2">
                  {{ "desactive" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- spinner-->
      <div class="row pb-5">
        <div class="col-md-12 p-5">
          <ngx-spinner
            bdOpacity="0.9"
            bdColor=""
            size="default"
            color="lightseagreen"
            type="ball-pulse-sync"
            [fullScreen]="false"
          >
          </ngx-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
