<agm-map [zoom]="17" [latitude]="lat" [longitude]="lng" (mapReady)="mapReady($event)">
  <button class="btn" id="Location" (click)="findMe()">{{'find_me' | translate}}</button>



  <agm-marker *ngFor="let m of locations" (markerClick)="clickedMarker(infowindow)" [latitude]="m.latitude"
    [longitude]="m.longitude" animation="DROP" iconUrl="../../assets/img/marker-pb.png">

    <agm-info-window #infowindow>
      <div class="card" style="width: 15rem;">
        <br>
        <img *ngIf="m.logo" style="cursor: pointer;" (click)="showLocation(m)" src="{{m.logo}}" class="mx-auto d-block" alt="Logo">
        <img *ngIf="!m.logo" style="cursor: pointer;" (click)="showLocation(m)" src="../../assets/img/logo2.png" class="mx-auto d-block"
          alt="Logo">
        <div class="card-body">
          <h5 class="card-title">{{m.name}}</h5>
          <p class="card-text">{{m.street}}</p>
          <div class="container">
            <div class="row justify-content-md-center">
            <button class="btn mt-4 mb-4 col-md-8" (click)="listSales(m,'paginatedsales')">{{ 'show_location_18' | translate}}</button>
            <button class="btn mb-4 col-md-8" (click)="challengeList(m,'paginatedchallenges')">{{ 'show_location_19' | translate}}</button>
            </div>
          </div>

        </div>
      </div>
    </agm-info-window>

  </agm-marker>

  <agm-marker *ngFor="let m of locationsVIP;let i = index" (markerClick)="clickedMarker(infowindow)" [latitude]="m.latitude"
    [longitude]="m.longitude" animation="DROP" [iconUrl]="iconBaseMain[i]" (mouseOver)="changeIconOver(i)" (mouseOut)="changeIconOut(i)">

    <agm-info-window #infowindow>
      <div class="card" style="width: 15rem;">
        <br>
        <img *ngIf="m.logo" style="cursor: pointer;" (click)="showLocation(m)" src="{{m.logo}}" class="mx-auto d-block" alt="Logo">
        <img *ngIf="!m.logo" style="cursor: pointer;" (click)="showLocation(m)" src="../../assets/img/logo2.png" class="mx-auto d-block"
          alt="Logo">
        <div class="card-body">
          <h5 class="card-title">{{m.name}}</h5>
          <p class="card-text">{{m.street}}</p>
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="row justify-content-md-center">
                <button class="btn mt-4 mb-4 col-md-8" (click)="listSales(m,'paginatedsales')">{{ 'show_location_18' | translate}}</button>
                <button class="btn mb-4 col-md-8" (click)="challengeList(m,'paginatedchallenges')">{{ 'show_location_19' | translate}}</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </agm-info-window>

  </agm-marker>




</agm-map>
