<section id="header">
  <div class="container">
  <div class="row">

      <div class="col-md-12">
        <div class="page-wrapper p-t-180 p-b-100">
          <div class="wrapper wrapper--w70">
            <div class="card card-2">
              <div class="card-body">
                <h2 style="text-align: center;">{{ 'register_employee' | translate}}</h2>
                <br>
                <form id="employee-registration-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset formGroupName="user_account">
                        <div class="form-group">
                          <label for="user_account.username">{{ 'username' | translate}}:</label>
                          <span *ngIf="isSubmitted && user_accountControls.username.errors" class="alert text-danger">
                            <span *ngIf="user_accountControls.username.errors.maxlength">{{ 'username_maxLength' | translate}}</span>
                            <span *ngIf="user_accountControls.username.errors.required">{{ 'username_required' | translate}}</span>
                            <span *ngIf="user_accountControls.username.errors.usernameUnique">{{ 'username_unique' | translate}}</span>
                          </span>
                          <input type="text" formControlName="username" placeholder="peter1234" name="username" class="form-control"
                            id="username">
                        </div>

                        <div class="form-group">
                          <label for="password1">{{ 'password' | translate}}:</label>
                          <span *ngIf="isSubmitted && user_accountControls.password1.errors" class="alert text-danger">
                            <span *ngIf="user_accountControls.password1.errors.maxlength">{{ 'password_maxLength' | translate}}</span>
                            <span *ngIf="user_accountControls.password1.errors.required">{{ 'password_required' | translate}}</span>
                            <span *ngIf="user_accountControls.password1.errors.password1Short">{{ 'password1_short' | translate}}</span>
                          </span>
                          <input type="password" formControlName="password1" placeholder="********" name="password1"
                            class="form-control" id="password1">
                        </div>

                        <div class="form-group">
                          <label for="password2">{{ 'password_repeat' | translate}}:</label>
                          <span *ngIf="isSubmitted && user_accountControls.password2.errors" class="alert text-danger">
                            <span *ngIf="user_accountControls.password2.errors.required">{{ 'password_required' | translate}}</span>
                            <span *ngIf="user_accountControls.password2.errors.MatchPassword">{{ 'password_confirmPassword' | translate}}</span>
                          </span>
                          <input type="password" formControlName="password2" placeholder="********" name="password2"
                            class="form-control" id="password2">
                        </div>

                        <div class="form-group">
                          <label for="email">{{ 'email' | translate}}:</label>
                          <span *ngIf="isSubmitted && user_accountControls.email.errors" class="alert text-danger">
                            <span *ngIf="user_accountControls.email.errors.required">{{ 'email_required' | translate}}</span>
                            <span *ngIf="user_accountControls.email.errors.pattern">{{ 'email_incorrect' | translate}}</span>
                            <span *ngIf="user_accountControls.email.errors.emailUnique">{{ 'email_unique' | translate}}</span>
                          </span>
                          <input type="text" formControlName="email" placeholder="peter1234@domain.com" name="email"
                            class="form-control" id="email">
                        </div>
                      </fieldset>
                    </div>

                    <div class="col-md-6">

                      <div class="form-group">
                          <label for="name">{{ 'name' | translate}}:</label>
                          <span *ngIf="isSubmitted && formControls.name.errors" class="alert text-danger">
                            <span *ngIf="formControls.name.errors.required">{{ 'name_required' | translate}}</span>
                            <span *ngIf="formControls.name.errors.minlength">{{ 'name_minLength' | translate}}</span>
                            <span *ngIf="formControls.name.errors.maxlength">{{ 'name_maxLength' | translate}}</span>
                          </span>
                          <input type="text" formControlName="name" placeholder="Peter" name="name" class="form-control" id="name">
                      </div>

                      <div class="form-group">
                          <label for="is_working">{{ 'is_working' | translate}}:</label>
                          <span *ngIf="isSubmitted && formControls.is_working.errors" class="alert text-danger">
                            <span *ngIf="formControls.is_working.errors.required">{{ 'is_working_required' | translate}}</span>
                          </span>
                          <select formControlName="is_working" name="is_working" class="form-control" id="is_working" required>
                              <option value="True" select>{{ 'yes' | translate}}</option>
                              <option value="False">{{ 'no' | translate}}</option>
                          </select>
                      </div>

                      <div class="form-group">
                        <label for="control">{{ 'control' | translate}}</label> &nbsp;
                        <img (mouseenter)="show_desc=true" (mouseleave)="show_desc=false" class="hover_info"
                             src="/assets/img/info-circle.svg" alt="" width="20" height="20">
                        <div [hidden]="!show_desc">
                          <div class="control_desc">{{ 'control_desc' | translate}}</div>
                          <br>
                        </div>
                        <span *ngIf="isSubmitted && formControls.control.errors" class="alert text-danger">
                          <span *ngIf="formControls.control.errors.required">{{ 'control_required' | translate}}</span>
                        </span>
                        <select (change)="showPointsLimit($event)" formControlName="control" name="control" class="form-control" id="control" required>
                            <option value="True" select>{{ 'yes' | translate}}</option>
                            <option value="False">{{ 'no' | translate}}</option>
                        </select>
                      </div>

                      <div class="form-group" *ngIf="show">
                        <label for="limit_points">{{ 'limit_points' | translate}}</label>
                        <span *ngIf="isSubmitted && formControls.limit_points.errors" class="alert text-danger">
                          <span *ngIf="formControls.limit_points.errors.required">{{ 'limit_points_required' | translate}}</span>
                          <span *ngIf="formControls.limit_points.errors.min">{{ 'limit_points_min' | translate}}</span>
                          <span *ngIf="formControls.limit_points.errors.max">{{ 'limit_points_max' | translate}}</span>
                        </span>
                        <input type="number" formControlName="limit_points" name="limit" class="form-control" id="limit">
                        <div id="char-count">{{ "max_limit" | translate }}</div>
                      </div>

                      <div class="form-group" >
                          <label for="location">{{ 'select_location' | translate}}:</label>
                          <span *ngIf="isSubmitted && formControls.location.errors" class="alert text-danger">
                              <span *ngIf="formControls.location.errors.required">{{ 'location_required' | translate}}</span>
                          </span>
                          <select formControlName="location" name="location" class="form-control" id="location" required>
                              <option *ngFor="let location of locations" [ngValue]="location.id">{{ location.name }}</option>
                          </select><br/>
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-10">
                      <div class="form-check">
                        <input type="checkbox" formControlName="terms_and_conditions" name="terms_and_conditions"
                          class="form-check-input" id="terms_and_conditions" ng-model="terms_and_conditions" ng-true-value="true"
                          ng-false-value="false">
                        <label class="form-check-label"
                          for="terms_and_conditions">{{ 'terms_and_conditions' | translate}}</label><a
                          routerLink="/terms-and-conditions" target="_blank">{{ 'terms_and_conditions_show' | translate}}</a>
                        <span *ngIf="isSubmitted && formControls.terms_and_conditions.errors" class="alert text-danger">
                          <span
                            *ngIf="formControls.terms_and_conditions.errors.termsAndConditionsRequired">{{ 'terms_and_conditions_accept' | translate}}</span>
                        </span>
                      </div>
                    </div>

                    <div class="col-md-2" style="text-align:right;">
                      <button class="btn">{{ 'save' | translate}}</button>
                    </div>

                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
</section>
