<section id="header">
  <div class="container">
    <div class="page-wrapper p-t-180">
      <div class="wrapper wrapper--w960">
        <div class="card card-2">
          <div class="card-body">

            <div class="row">

              <div align="center" class="col-md-6 align-self-center" *ngIf="this.isAbleToPayload && this.hasLocation && !this.noSuscriptionInLocation && !this.maxPointsReached && !this.sentPoints">
                <h2 class="text-center">{{ 'payload_create_grant' | translate}}</h2>
                <br>
                <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

                  <input type="button" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px" (click)="addMoney(0.50)"
                         value="+ 0.5€">
                  <input type="button" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px" (click)="addMoney(1.00)"
                         value="+ 1€">
                  <input type="button" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px" (click)="addMoney(2.00)"
                         value="+ 2€">
                  <input type="button" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px" (click)="addMoney(5.00)"
                         value="+ 5€">
                  <input type="button" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px" (click)="addMoney(10.00)"
                         value="+ 10€">
                  <input type="button" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px" (click)="addMoney(20.00)"
                         value="+ 20€">
                  <input type="button" style="margin-top: 10px; margin-bottom: 25px; margin-left: 5px; margin-right: 5px" (click)="resetMoney(0.00)"
                         value="{{ 'payload_create_reset' | translate}}">

                  <div class="input-group" style="margin-right: 15px; margin-left: 15px; padding-right: 35px">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependTitle">€</span>
                    </div>
                    <input type="number" step="0.01" value="0.00" formControlName="amount" name="amount"
                           class="form-control" id="amount">
                  </div>

                  <div *ngIf="this.hasErrors">       
                    <div *ngIf="(formControls.amount == undefined) || formControls.amount.errors">
                      <div class="alert text-danger" *ngIf="(formControls.amount == undefined) || formControls.amount.errors.required">
                        <p>{{ 'payload_create_error_required' | translate}}</p>
                      </div>
  
                      <div class="alert text-danger" *ngIf="(formControls.amount == undefined) || formControls.amount.errors.pattern || formControls.amount.errors.max">
                        <p>{{ 'payload_create_error_pattern' | translate}}</p>
                      </div>
  
                      <div class="alert text-danger" *ngIf="(formControls.amount == undefined) || formControls.amount.errors.min">
                        <p>{{ 'payload_create_error_min' | translate}}</p>
                      </div>
  
                    </div>
                    </div>

                  <button style="margin-top: 25px; margin-bottom: 25px" class="btn"
                          [disabled]="(formControls.amount == undefined) || formControls.amount.errors">{{ 'create_qr' | translate}}</button>

                  <div class="col-md-8 align-self-center" align="center" style="margin-top: 15px; margin-bottom: 25px">
                    <p>{{ 'payload_create_4' | translate}}</p>
                  </div>
                  
                  <div class="col-md-8 align-self-center" align="center">
                    <input type="text"
                    formControlName="clientSearcher"
                    placeholder="{{ 'payload_create_placeholder' | translate}}"
                    name="clientSearcher"
                    class="form-control"
                    id="clientSearcher"
                    (keyup)="getAllClients()">

                  </div>


                  <div class="col-md-6 align-self-center" style="max-height:25vh;overflow-y:auto; margin-top: 20px; margin-bottom: 30px" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="fetchNext()" [scrollWindow]= "false">
                    <input type="button" style="background-color: #e6e6e6; border-radius: 5px; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px; width: 80%;" *ngFor="let client of clients" (click)="sendPoints(client.user_account.username, client.name, client.surname)"
                          [disabled]="(formControls.amount == undefined) || formControls.amount.errors" value="{{client.user_account.username}}"/>
                    <!-- <div class="grab" style="background-color: #e6e6e6; border-radius: 5px; margin-top: 10px; margin-bottom: 10px" *ngFor="let client of clients" (click)="sendPoints()">{{client.user_account.username}}</div> -->
                  </div>

                </form>
              </div>
              <div class="col-md-6 align-self-center" align="center" *ngIf="!this.isAbleToPayload">
                <h2 style="color: #a94442;text-align: justify"
                    class="text-center">{{ 'payload_denied' | translate}}</h2>
              </div>

              <div class="col-md-6 align-self-center" align="center" *ngIf="!this.hasLocation">
                <h2 style="color: #a94442;text-align: justify"
                    class="text-center">{{ 'payload_denied2' | translate}}</h2>
              </div>

              <div class="col-md-6 align-self-center" align="center" *ngIf="this.noSuscriptionInLocation">
                <h2 style="color: #a94442;text-align: justify"
                    class="text-center">{{ 'payload_denied3' | translate}}</h2>
              </div>

              <div class="col-md-6 align-self-center" align="center" *ngIf="this.maxPointsReached">
                <h2 style="color: #a94442;text-align: justify"
                    class="text-center">{{ 'payload_show_max_points' | translate}}</h2>
                <div style="text-align: center;" *ngIf="this.maxPointsReached">
                  <button class="btn" style="margin-bottom: 10px; margin-top: 15px" (click)="return()">{{ 'payload_back' | translate}}</button>
                </div> 
              </div>

              <div class="col-md-6 align-self-center" align="center" *ngIf="this.sentPoints">
                <div class="container" style="padding: 2.5em; text-align:center">
                  <img src="/assets/img/check_stop.gif" alt="" width="100" height="100">
                </div>
                <h3 style="text-align: justify"
                    class="text-center">{{ 'payload_sent_points_1' | translate}} {{this.points}} {{ 'payload_sent_points_2' | translate}} {{this.clientName}} {{this.clientSurname}} ({{this.clientUsername}})</h3>
                <div style="text-align: center;">
                  <button class="btn" style="margin-bottom: 10px; margin-top: 15px" (click)="return()">{{ 'payload_back' | translate}}</button>
                </div> 
              </div>

              <div class="col-md-6">
                <div class="jumbotron" style="background-color: rgba(233,97,97,0.44)">
                  <h1
                    style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: 600">{{ 'payload_create_1' | translate}}</h1>
                  <br>

                  <p class="lead" style="text-align: justify">
                    {{ 'payload_create_3' | translate}}
                  </p>
                  <br>

                  <p class="lead" style="text-align: justify">
                    {{ 'payload_create_2' | translate}}
                  </p>
                  <br>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
