.col-md-6 img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper--w960 {
  max-width: max-content;
}

.card-img-top {
  width: 140%;
  height: 10em;
  object-fit: cover;
}

.card-style {
  display: table-cell;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  margin-bottom: 0rem;
}