<section id="header">
  <div class="container">
    <div class="row" >
      <div class="col-md-12">
        <div class="page-wrapper p-t-180">
          <div class="wrapper wrapper--w960">
            <div class="card">
              <div class="card-body">
                <h2 style="text-align: center;">{{ 'login' | translate}}</h2>
                <br>
                <form id="login-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label for="username">{{ 'username' | translate}}:</label>
                      <span *ngIf="isSubmitted && formControls.username.errors" class="alert text-danger">
                        <span *ngIf="formControls.username.errors.required">{{ 'username_required' | translate}}</span>
                      </span>
                      <input (keyup)="onKey($event)" type="text" formControlName="username" placeholder="peter1234" name="username" class="form-control"
                      id="username">
                  </div>

                  <div class="form-group">
                      <label for="password">{{ 'password' | translate}}:</label>
                      <span *ngIf="isSubmitted && formControls.password.errors" class="alert text-danger">
                      <span *ngIf="formControls.password.errors.required">{{ 'password_required' | translate}}</span>
                      </span>
                      <input type="password" formControlName="password" placeholder="********" name="password"
                      class="form-control" id="password">
                      <span  *ngIf="isSubmitted && formControls.password.errors" class="alert text-danger">
                        <span  *ngIf="formControls.password.errors.loginError">{{ 'loginError' | translate}}</span>
                      </span>
                  </div>

                  <div class="container">
                    <div class="row">

                      <div class="col-md-12" style="text-align: center;">
                        <button id="login-button" class="btn">{{'login' | translate}}</button>
                      </div>

                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
