.wrapper{
    margin: auto;
}
input[type="checkbox"]{
    margin:auto;
    width:24px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
