<section id="header">
  <div class="container">
    <div class="page-wrapper p-t-20">
      <div class="wrapper">
        <div class="card card-2">
          <div class="card-body">
            <div class="row" style="margin-bottom:2em">
              <div class="col-md-12 p-4 ">
                <h2 style="text-align: left">{{ 'create_subscription' | translate}}</h2>
                <br>
                <p class="lead" style="text-align: justify">{{ 'msg_subscription_3' | translate}}</p>
              </div>
              <div class="col-md-6">
                <div class="jumbotron p-0 m-0" style="background-color: white">
                  <h3 class="pt-5" style="text-align: center">{{ 'create_subscription' | translate}}</h3>
                  <div class="container" style="padding: 2.5em; text-align:center">
                    <form #subscriptionForm="ngForm">
                      <div class="col-mod-10">

                        <div class="form-group">
                          <label for="locations">{{ 'select_location' | translate}}</label>
                          <select class="form-control" id="location"
                                  required
                                  [(ngModel)]="model.location" name="location"
                                  #location="ngModel">
                            <option *ngFor="let pow of locations" [value]="pow.id">{{pow.name}}</option>
                          </select>
                          <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
                            {{ 'location_required' | translate}}
                          </div>
                        </div>


                        <div class="form-group">
                          <label for="memberships">{{ 'select_membership' | translate}}</label>
                          <select class="form-control mb-3" id="membership"
                                  required
                                  [(ngModel)]="membershipToForm" name="membership"
                                  #membership="ngModel">
                            <option *ngFor="let mem of memberships" [ngValue]="mem">{{mem.membership_type}}</option>
                          </select>
                          <img (mouseenter)="show=true"
                              (mouseleave)="show=false" *ngIf="membershipToForm" src="/assets/img/info-circle.svg" alt=""
                              width="20" height="20">
                          <div class="mt-3" [hidden]="!show">
                            <div *ngIf="membershipToForm && currentLang=='en'">{{membershipToForm.descriptionE}}</div>
                            <div *ngIf="membershipToForm && currentLang=='es'">{{membershipToForm.descriptionS}}</div>
                          </div>

                          <div [hidden]="membership.valid || membership.pristine" class="alert alert-danger">
                            {{ 'membership_required' | translate}}
                          </div>
                        </div>

                        <div [hidden]="!subscriptionForm.form.valid" #paypal></div>

                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="jumbotron p-0 m-0">
                  <h1 class="display-4 pt-4">{{"msg_subscription_1" | translate}}</h1>
                  <br>
                  <p class="lead">
                    {{"msg_subscription_2" | translate}}
                  </p>
                  <div class="table-responsive mt-4">
                    <table class="table table-striped" style="text-align: center">
                      <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Normal (42€)</th>
                        <th scope="col">VIP (50€)</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Publicitar un mapa</td>
                        <td style="color: #42A948">✔</td>
                        <td style="color: #42A948">✔</td>
                      </tr>
                      <tr>
                        <td>Subir oferta</td>
                        <td style="color: #42A948">✔</td>
                        <td style="color: #42A948">✔</td>
                      </tr>
                      <tr>
                        <td>Subir logros básicos</td>
                        <td style="color: #42A948">✔</td>
                        <td style="color: #42A948">✔</td>
                      </tr>
                      <tr>
                        <td>Controlar empleados</td>
                        <td style="color: #42A948">✔</td>
                        <td style="color: #42A948">✔</td>
                      </tr>
                      <tr>
                        <td>Listado de transacciones</td>
                        <td>❌</td>
                        <td style="color: #42A948">✔</td>
                      </tr>
                      <tr>
                        <td>Más tipos de logros</td>
                        <td>❌</td>
                        <td style="color: #42A948">✔</td>
                      </tr>
                      <tr>
                        <td>Diferenciación</td>
                        <td>❌</td>
                        <td style="color: #42A948">✔</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>