<div class="modal-header justify-content-center">
  <h4 class="modal-title" id="modal-title"></h4>
</div>
<div class="modal-body text-center">
  <p>
  </p>
  <small *ngIf="!success" class="text-danger"></small>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="modal.dismiss('cancel click')"></button>
</div>
