<div class="container">
  <div class="p-t-180">
    <h2 style="text-align: center;">{{ 'completed_challenges_list' | translate}}</h2>
    <br>
    <div class="row justify-content-center">
      <div class="card h-100" *ngFor="let completedChallenge of completedChallenges">
        <div *ngIf="completedChallenge.challenge.photo">
          <img class="card-img-top" src={{completedChallenge.challenge.photo}} alt="Card image cap">
        </div>
        <div *ngIf="!completedChallenge.challenge.photo">
          <img class="card-img-top" src="../../assets/img/logo.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong>{{completedChallenge.challenge.title}}</strong></h4>
          <h5 class="card-subtitle mb-2 text-muted">{{completedChallenge.challenge.description}}</h5>
          <h5 class="card-text">{{"type_" + completedChallenge.challenge.tipe | translate}}</h5>
          <h5 class="card-text">{{ 'number_points' | translate}}: {{completedChallenge.challenge.number_points}}</h5>
          <h5 class="card-text">{{"completed_last_date" | translate}}: {{completedChallenge.last_challenge_moment | date:"dd/MM/yyyy"}}
          </h5>
          <h5 *ngIf="completedChallenge.challenge.tipe == 'C' " class="card-text">
            {{ 'number_consumptions'  | translate}}: {{completedChallenge.challenge.number}}
          </h5>
          <h5 *ngIf="completedChallenge.challenge.tipe == 'D' " class="card-text">
            {{ 'number_days'  | translate}}: {{completedChallenge.challenge.number}}
          </h5>
          <h5 *ngIf="completedChallenge.challenge.tipe == 'AM' " class="card-text">
            {{ 'money_spent'  | translate}}: {{completedChallenge.challenge.money_spent}}
          </h5>
          <h5 *ngIf="completedChallenge.challenge.tipe == 'IM' " class="card-text">
            {{ 'money_spent'  | translate}}: {{completedChallenge.challenge.money_spent}}
          </h5>
          <h5 *ngIf="completedChallenge.challenge.tipe == 'CM' " class="card-text">
            {{ 'number_consumptions'  | translate}}: {{completedChallenge.challenge.number}}
          </h5>
          <h5 *ngIf="completedChallenge.challenge.tipe == 'CM' " class="card-text">
            {{ 'money_spent'  | translate}}: {{completedChallenge.challenge.money_spent}}
          </h5>
          <h5 class="card-text">{{"completed_count" | translate}}: {{completedChallenge.count}}</h5>
        </div>

      </div>
    </div>
  </div>
</div>
