.col-md-6 img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper--w960 {
  max-width: max-content;
}

.card-img-top {
  width: 140%;
  height: 10em;
  object-fit: cover;
}

.card-style {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-body {
  padding: 0px;
}

.pointbarCar{
  width:55%;
  margin-top: 1.5em;
  border-radius: 10px!important;
}

.carousel-wrap{
  padding:2em;
  padding-top: 3em;
  padding-bottom: 3em;
  background:#e9ecefbf;
  width: 100%;
}
@media only screen and (max-width:767px){
  .pointbarCar{
    width:100%;
  }
}
.auto{
  margin:auto;
}
.preCar{
  width:100%;
  margin:auto;
}
.carousel-wrap h1{
  margin-bottom:0.2em;
}
.carousel-wrap p{
  margin-bottom:2em;
}
