<div class="container">
  <div class="page-wrapper p-t-20">
    <div class="wrapper">
      <div class="card card-2">
        <div class="card-body">
            <div class="row  ml-4 mr-4 mt-4" style="margin-bottom:2em">

              <div class="col-md-8">
                <h2 style="text-align: left">{{ 'show_location_1' | translate}}<strong>{{location.name}}</strong>?
                </h2>
                <h2 style="text-align: justify" *ngIf="userService.hasAuthority('CLIENT')">{{'location_point' | translate}} {{points}}</h2>
                <br>

                <h4  style="text-align: justify">{{ 'show_location_2' | translate}}</h4>
                <br>

                <p style="text-align: justify">{{location.description}}</p>
                <br>

                <h4 style="text-align: justify">{{ 'show_location_3' | translate}}</h4>
                <br>

                <p style="text-align: justify">
                  {{ 'show_location_4' | translate}}
                  {{location.street}}
                  {{ 'show_location_5' | translate}}
                  {{location.city}}
                  ({{location.country}})
                  {{ 'show_location_6' | translate}}
                  {{location.postal_code}}.
                </p>
                <br>

                <p style="text-align: justify">
                  {{ 'show_location_8' | translate}}<strong><a target="_blank"
                                                               href="{{location.website}}">{{location.name}}</a></strong>
                </p>
                <br>

              </div>


              <div class="col-md-4 align-content-center">
                <div align="center">
                  <img *ngIf="location.logo" style="border-radius: 25px" class="img-fluid align-content-center" src="{{location.logo}}"
                       alt="{{ 'picture' | translate}}"/>
                  <img *ngIf="!location.logo" style="border-radius: 25px" class="img-fluid align-content-center"
                       src="../../assets/img/logo2.png" alt="{{ 'picture' | translate}}"/>



              </div>
            </div>
          </div>
           <div class="row preCar">
           <div class="carousel-wrap">
              <div class="col-md-12 align-content-center">
                <div align="center">
                  <h1 class="display-4">{{ 'location_photo_1' | translate}}</h1>
                  <p class="lead">{{ 'location_photo_2' | translate}}</p>
                  <ngb-carousel class="pointbarCar card" *ngIf="location.photo" [showNavigationArrows]="true" [showNavigationIndicators]="true">
                    <ng-template ngbSlide *ngFor="let image of location.photo">
                     <div class="picsum-img-wrapper" style="width:100%">
                       <img [src]="image" alt="Random slide" style="width:100%;object-fit:contain">
                     </div>
                    </ng-template>
                  </ngb-carousel>
                </div>
              </div>
            </div>
            </div>

            <div class="row">
              <div class="jumbotron">
                <div class="col-md-12">
                  <h1 class="display-4">{{ 'show_location_7' | translate}}!</h1>
                  <br>
                  <p class="lead">
                    {{ 'show_location_9' | translate}}
                    <strong>{{location.name}}</strong>
                    {{ 'show_location_10' | translate}}
                  </p>
                  <hr class="my-4">
                  <p class="lead m-1">
                    <strong>{{ 'show_location_11' | translate}}</strong>
                  </p>
                  <br>
                </div>

                <div class="row">
                  <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                      <div align="center">
                        <img
                          src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                          class="card-img-top" alt="alt">
                        <div class="card-body m-4">
                          <strong>
                            <h3 class="card-title">{{ 'show_location_12' | translate}}</h3>
                          </strong>
                          <p ALIGN="justify" class="card-text">
                            {{ 'show_location_14' | translate}}
                            <strong>{{location.name}}</strong>.
                            {{ 'show_location_17' | translate}}
                          </p>
                          <button class="btn mt-4 mb-4"
                                  (click)="listSales(location,'paginatedsales')">{{ 'show_location_18' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                      <div align="center">

                        <img
                          src="https://images.unsplash.com/photo-1583324828486-ecb1f265c180?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                          class="card-img-top" alt="alt">

                        <div class="card-body m-4">

                          <strong>
                            <h3 class="card-title">{{ 'show_location_13' | translate}}</h3>
                          </strong>
                          <p ALIGN="justify" class="card-text">
                            {{ 'show_location_15' | translate}}
                            <strong>{{location.name}}</strong>
                            {{ 'show_location_16' | translate}}
                          </p>
                          <button class="btn mt-3 mt-4 mb-4"
                                  (click)="challengeList(location,'paginatedchallenges')">{{ 'show_location_19' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
