<section id="header">
  <div class="container">
    <div class="row" >
      <div class="col-md-12">
        <div class="page-wrapper p-t-180">
          <div class="wrapper wrapper--w960">
            <div class="card">
              <div *ngIf="!fail" class="card-body">
                <h2 style="text-align: center;">{{ 'congrats' | translate}}</h2>
                <br/>
                <p>{{ 'congrats_message' | translate}}</p>
                <p>{{ 'congrats_message_2' | translate}}</p>
                <br>
               <div class="container">
                    <div class="row">

                      <div class="col-md-12" style="text-align: center;">
                        <button onclick="window.location.href='/login'" class="btn">{{'login' | translate}}</button>
                      </div>

                    </div>
                </div>
              </div>
              <div *ngIf="fail" class="card-body">
                <h2 style="text-align: center;">{{ 'activation_fail' | translate}}</h2>
                <br/>
                <p>{{ 'activation_fail_message' | translate}}</p>
                <br>
               <div class="container">
                    <div class="row">

                      <div class="col-md-12" style="text-align: center;">
                        <button onclick="window.location.href='/home'" class="btn">{{'inicio' | translate}}</button>
                      </div>

                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
