<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-body">
            <h2 style="text-align: center;">{{'subscription_success' | translate}}</h2>
            <div class="container" style="padding: 2.5em; text-align:center">
              <img src="/assets/img/check.gif" alt="" width="150" height="150">
            </div>

            <div class="span 12 text-center">{{'subscription_redirect' | translate}}</div>
        </div>
    </div>
</div>
</div>
</div>
</section>