<div class="modal-header justify-content-center">
  <h4 class="modal-title" id="modal-title">{{"delete_user_modal" | translate}}</h4>
</div>
<div class="modal-body text-center">
  <p>
    {{"delete_user_modal_text" | translate}}
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="modal.dismiss('save')">{{ 'continue' | translate}}</button>
  <button type="button" class="btn " (click)="modal.close('cancel')">{{ 'cancel' | translate}}</button>
</div>
