<div class="container">
  <nav class="navbar navbar-expand-xl navbar-light bg-light">

      <a class="navbar-brand" routerLink="/home"><img src="../assets/img/logo.png" alt="Logo" style="width:2.5em;"></a>
      <a class="navbar-brand" routerLink="/home"><h2>Pointbar</h2></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ml-auto py-4 py-md-0"  >

          <li id="nav-item-login" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.isAuthenticated() == false">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/login">{{ 'login' | translate}}</a>
          </li>

          <li id="nav-item-registration" class="nav-item dropdown pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.isAuthenticated() == false">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              {{ 'register' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a id="client-registration-nav-item" class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/client-register" *ngIf="userService.isAuthenticated() == false">{{ 'asClient' | translate}}</a>
              <a id="bar-registration-nav-item" class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/bar-register" *ngIf="userService.isAuthenticated() == false">{{ 'asBar' | translate}}</a>
            </div>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="!userService.hasAuthority('EMPLOYEE')">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/map" routerLinkActive="active">{{ 'map' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('CLIENT')">
            <a class="nav-link text-nowrap" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/scan-payload" routerLinkActive="active">{{ 'scan_qr' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('CLIENT')">
            <a class="nav-link text-nowrap" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/list-point" routerLinkActive="active">{{ 'list_point' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('CLIENT')">
            <a class="nav-link text-nowrap" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/completed-challenges-list" routerLinkActive="active">{{ 'completed_challenges_list' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.isAuthenticated() == true">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/notification-list">{{ 'notification' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('EMPLOYEE')">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/create-payload" routerLinkActive="active">{{ 'create_payload' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('EMPLOYEE')">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/scan-exchange" routerLinkActive="active">{{ 'scan_sale' | translate}}</a>
          </li>

          <li id="nav-item-employee-list" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('BAR')">
              <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/employee-list" routerLinkActive="active">{{ 'employee' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('BAR')">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/list-subscriptions" routerLinkActive="active">{{ 'subscription' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('BAR')">
            <a class="nav-link text-nowrap" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/location-list" routerLinkActive="active">{{ 'my_locations' | translate}}</a>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userService.hasAuthority('BAR') || userService.hasAuthority('CLIENT')">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              {{ 'codes' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/list-payload" routerLinkActive="active">{{ 'list_payload' | translate}}</a>
              <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/list-exchange" routerLinkActive="active">{{ 'list_exchange' | translate}}</a>
            </div>
          </li>

          <li id="nav-item-settings" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
            <a *ngIf="userService.isAuthenticated() == false" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              {{ 'settings' | translate}}
            </a>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span *ngIf="userService.isAuthenticated()">{{user_account.username}} ({{"role_" + user_account.authority | translate}})</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a id="logout-nav-item" class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/home" *ngIf="userService.isAuthenticated() == true" (click)="logout()">{{ 'logout' | translate}}</a>
              <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/bar-edit" routerLinkActive="active" *ngIf="userService.hasAuthority('BAR')">{{ 'edit_data' | translate}} </a>
              <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/client-edit" routerLinkActive="active" *ngIf="userService.hasAuthority('CLIENT')">{{ 'edit_data' | translate}}</a>
              <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/employee-edit" routerLinkActive="active" *ngIf="userService.hasAuthority('EMPLOYEE')">{{ 'edit_data' | translate}}</a>
              <a class="dropdown-item" data-toggle="collapse" data-t arget=".navbar-collapse.show" routerLink="/terms-and-conditions">{{ 'terms_and_conditions_button' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item grab" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="translate.currentLang != 'en'" (click)="switchLanguage('en')">{{ 'english' | translate}}</a>
              <a class="dropdown-item grab" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="translate.currentLang != 'es'" (click)="switchLanguage('es')">{{ 'spanish' | translate}}</a>
            </div>
          </li>
        </ul>
      </div>
  </nav>
</div>

<router-outlet></router-outlet>

