<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-body">

          <div class="row">

            <div class="col-md-6">
              <div *ngIf="this.existCamera">
                <h2 class="text-center" *ngIf="this.successfullyScanned">{{ 'payload_scan_successful' | translate}}</h2>
                <h1 class="text-center" *ngIf="this.successfullyScanned"><strong>{{this.points}}</strong></h1>
                <h2 class="text-center"
                    *ngIf="this.successfullyScanned">{{ 'payload_scan_successful2' | translate}}<strong>{{this.payload.location.name}}</strong></h2>
                    
                <h2 class="text-center" *ngIf="this.alreadyScanned">{{ 'payload_scan_already_scanned' | translate}}</h2>

                <zxing-scanner *ngIf="this.enableScan && !this.scanDeactivated" [enable]="this.enableScan && !this.scanDeactivated"
                               (camerasNotFound)="camerasNotFoundHandler($event)"
                               (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
                <div style="text-align:center">
                  <i class="fa" *ngIf="this.enableScan"  [satPopoverAnchor]='popover' (click)="popover.toggle()">
                  &#xf05a;
                  </i>
                  <sat-popover #popover hasBackdrop verticalAlign="below">
                      <div class="info mat-caption">{{ 'payload_scan_license' | translate}} <br/><a href='https://github.com/zxing-js/ngx-scanner/blob/master/LICENSE'> {{ 'license_here' | translate}}</a>
                      </div>
                  </sat-popover>

                </div>               
                
                <h2 class="text-center" *ngIf="this.codeNotFound">{{ 'payload_scan_not_found' | translate}}</h2>

                <div style="text-align: center;">
                  <input type="button" class="btn" style="margin-top: 25px; margin-bottom: 25px" *ngIf="this.enableScan" (click)="disableScan()" value="{{ 'scan_deactivate' | translate}}">
                </div>
                
                <div style="text-align: center;">
                  <input type="button" class="btn" style="margin-top: 25px; margin-bottom: 25px" *ngIf="!this.enableScan" (click)="reloadView()" value="{{ 'payload_scan_reset' | translate}}">
                </div>
              </div>
              <h2 class="text-center" *ngIf="!this.existCamera">{{ 'payload_scan_no_camera' | translate}}</h2>
            </div>

            <div class="col-md-6">
              <div class="jumbotron">
                <h1 style="text-align: center">{{ 'payload_scan_msg1' | translate}}</h1>
                <br>

                <p class="lead" style="text-align: justify">
                  {{ 'payload_scan_msg2' | translate}}
                </p>
                <br>

                <p class="lead" style="text-align: justify">
                  {{ 'payload_scan_msg3' | translate}}
                </p>
                <br>

                <!-- <h5 style="text-align: justify">
                  {{ 'payload_scan_msg4' | translate}}
                </h5>
                <br>

                <h5 style="text-align: justify">
                  {{ 'payload_scan_msg5' | translate}}
                </h5> -->

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 user-container">

</div>
</section>