<div class="container">
  <div class="p-t-180">

    <div class="row">
      <div class="col-md-12">

        <div class="jumbotron" *ngIf="empty">
          <h1 class="display-4" style="text-align: left">{{'employee_msg_1' | translate}}</h1>
          <br>
          <p class="lead" style="text-align: justify">{{'subscription_msg_2' | translate}}</p>
          <hr class="my-4">
          <p style="text-align: justify">{{'subscription_msg_3' | translate}}</p>
          <br>
          <div align="center">
            <button class="btn" (click)="checkRedirect()">
              {{ "add_subscription" | translate }}
            </button>
          </div>
        </div>

        <div class="col-md-12" *ngIf="!empty">
          <div class="row">
            <div class="col-md-12">
              <h2 style="text-align: center;">{{ "my_subscriptions" | translate }}</h2>
            </div>
            <div class="col-md-12 mt-4">
              <div align="right">
                <button class="btn" (click)="checkRedirect()">
                  {{ "add_subscription" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center pt-3 card-deck" infiniteScroll [infiniteScrollDistance] = "2" [infiniteScrollThrottle] = "50" (scrolled)="fetchNext()">
      <div class="col-md-6 col-lg-4  align-items-stretch pb-3 card-deck" *ngFor="let l of subscriptions">
          <div class="card">

            <div *ngIf="!l.location.logo">
              <a class="grab" (click)="showSubscription(l)"><img class="card-img-top" src="../../assets/img/logo.png"
                alt="Card image cap" /></a>
            </div>

            <div *ngIf="l.location.logo">
              <a class="grab" (click)="showSubscription(l)"><img class="card-img-top" src="{{ l.location.logo }}"
                alt="Card image cap" /></a>
            </div>

            <div class="card-body">

              <a class="grab" (click)="showSubscription(l)"><h4 class="card-title">{{ l.location.name }}</h4></a>
              <a class="grab" (click)="showSubscription(l)">
                <h4 *ngIf="l.is_active" class="card-title active" style="text-align: center;">
                 {{'status' | translate}}: {{'active' | translate}}
                </h4>
                <h4 *ngIf="!l.is_active " class="card-title desactive" style="text-align: center;">
                 {{'status' | translate}}: {{'disactive' | translate}}
                </h4></a>
                <a class="grab" (click)="showSubscription(l)">
                <h4 *ngIf="l.renovate" class="card-title active" style="text-align: center;">
                 {{'autorenovate_status' | translate}}: {{'active' | translate}}
                </h4>
                <h4 *ngIf="!l.renovate " class="card-title desactive" style="text-align: center;">
                 {{'autorenovate_status' | translate}}: {{'disactive' | translate}}
                </h4></a>
            </div>
          </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-12 p-5">
        <ngx-spinner bdOpacity=0.9
          bdColor = ""
          size="default"
          color="lightseagreen"
          type="ball-pulse-sync"
          [fullScreen] ="false"
          >
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>
