<section id="header">
  <div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="page-wrapper p-t-180">
          <div class="wrapper wrapper--w70">
            <div class="card card-2">
              <div class="card-body">
                <h2 style="text-align: center;">{{ 'edit_data' | translate}}</h2>
                <br>
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                  <div class="row">
                    <div class="col-md-6">

                      <fieldset formGroupName="user_account">
                        <div class="form-group">
                          <label for="user_account.username">{{ 'username' | translate}}:</label>

                          <input type="text" formControlName="username" placeholder="peter1234" name="username" class="form-control"
                            id="username" disabled>
                        </div>

                        <div class="form-group">
                          <label for="email">{{ 'email' | translate}}:</label>
                          <input type="text" formControlName="email" placeholder="peter1234@domain.com" name="email"
                            class="form-control" id="email" disabled>
                        </div>
                      </fieldset>
                      <div class="form-group">
                        <label for="name">{{ 'name' | translate}}:</label>
                        <span *ngIf="isSubmitted && formControls.name.errors" class="alert text-danger">
                          <span *ngIf="formControls.name.errors.required">{{ 'name_required' | translate}}</span>
                          <span *ngIf="formControls.name.errors.minlength">{{ 'name_minLength' | translate}}</span>
                          <span *ngIf="formControls.name.errors.maxlength">{{ 'name_maxLength' | translate}}</span>
                        </span>
                        <input type="text" formControlName="name" placeholder="Peter" name="name" class="form-control" id="name">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="phone">{{ 'phone' | translate}}:</label>
                        <span *ngIf="isSubmitted && formControls.phone.errors" class="alert text-danger">
                          <span *ngIf="formControls.phone.errors.required">{{ 'phone_required' | translate}}</span>
                          <span *ngIf="formControls.phone.errors.pattern">{{ 'phone_pattern' | translate}}</span>
                        </span>
                        <input type="text" formControlName="phone" placeholder="123456789" name="phone" class="form-control"
                          id="phone">
                      </div>

                      <div class="jumbotron pt-2 pb-2 pl-2 pr-2">
                        <p class="pb-2"><strong>{{ 'available_phone_patterns' | translate}}:</strong></p>
                        <p style="text-align: justify">{{ 'with_prefix' | translate}}: +34621456987</p>
                        <p style="text-align: justify">{{ 'without_prefix' | translate}}: 621456987</p>
                        <p style="text-align: justify">{{ '(country code)_number-extension' | translate}}: (555) 555-1234</p>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div style="text-align:right;">
                  </div>
                    <div class="col-md-4" style="text-align:right;" >
                      <button class="btn mt-3" type="button" (click)="deleteModal()">{{ 'anonymize' | translate}}</button>
                    </div>
                    <div class="col-md-4" style="text-align:right;" *ngIf="translate.currentLang == 'en'">
                      <button class="btn mt-3" type="button" (click)="onExport(2)">{{ 'export' | translate}}</button>
                    </div>
                    <div class="col-md-4" style="text-align:right;" *ngIf="translate.currentLang == 'es'">
                      <button class="btn mt-3" type="button" (click)="onExport(1)">{{ 'export' | translate}}</button>
                    </div>
                    <div class="col-md-4" style="text-align:right;">
                      <button class="btn mt-3">{{ 'save' | translate}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</section>
