<div class="container">
  <div class="p-t-180">

    <div class="row" *ngIf="empty && challenges.length<1 && userService.hasAuthority('BAR') && is_owner">
      <div class="col-md-12">

        <div class="jumbotron pl-4 pr-4 pb-4 pt-4">
          <h1 class="display-4" style="text-align: left">{{'employee_msg_1' | translate}}</h1>
          <br>
          <p *ngIf="typec ==='paginatedchallenges'" class="lead" style="text-align: justify">{{'challenge_msg_2' | translate}}</p>
          <p *ngIf="typec === 'paginatedfuturechallenges'" class="lead" style="text-align: justify">{{'challenge_msg_4' | translate}}</p>
          <p *ngIf="typec === 'paginatedhistoricalchallenges'" class="lead" style="text-align: justify">{{'challenge_msg_6' | translate}}</p>
          <hr class="my-4">
          <p class="lead" style="text-align: justify">
            <span *ngIf="typec === 'paginatedchallenges'">{{'challenge_msg_3' | translate}}</span>
            <span *ngIf="typec === 'paginatedfuturechallenges'">{{'challenge_msg_5' | translate}}</span>
            <span *ngIf="typec === 'paginatedhistoricalchallenges'">{{'challenge_msg_7' | translate}}</span>
          </p>
          <div align="center">
            <button class="btn mt-3" (click)="createChallenge()" [disabled]="challenge_button_disabled">
              {{ "create_challenge" | translate }}
            </button>
            <br><br>
            <span [ngClass]="{'alert-danger': challenge_button_disabled, 'alert-success': !challenge_button_disabled}" class="mr-3" *ngIf="true" >{{suscription_msg | translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="challenges.length<1 && !is_owner && empty">
      <div class="col-md-12">

        <div class="jumbotron pl-4 pr-4">
          <h1 class="display-4" style="text-align: left">{{'employee_msg_1' | translate}}</h1>
          <br>
          <p  class="lead" style="text-align: justify">{{'challenge_msg_8' | translate}}</p>
          <hr class="my-4">
          <p class="lead" style="text-align: justify">
            <span>{{'challenge_msg_9' | translate}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="pb-3" *ngIf="challenges.length>0">
      <h2 style="text-align: center;">{{ "challenge_list" | translate }}</h2>
    </div>
    <div class="pb-3" style="text-align: right;" *ngIf="challenges.length>0 && userService.hasAuthority('BAR') && is_owner">
      <span [ngClass]="{'alert-danger': challenge_button_disabled, 'alert-success': !challenge_button_disabled}" class="mr-3" *ngIf="true" >{{suscription_msg | translate}}</span>
      <button class="btn" (click)="createChallenge()" [disabled]="challenge_button_disabled">
        {{ "create_challenge" | translate }}
      </button>
    </div>

    <div class="row" *ngIf="userService.hasAuthority('BAR') && is_owner">
      <div class="col-md-6" *ngIf="typec!='paginatedchallenges'" style="text-align:center;">
        <button class="btn mt-6 mb-6 mt-3" style="box-sizing:initial;"
          (click)="listChallenges('paginatedchallenges')">{{ 'actualChallenges' | translate}}</button>
      </div>

      <div class="col-md-6" *ngIf="typec!='paginatedhistoricalchallenges'" style="text-align:center;">
        <button class="btn mt-6 mb-6 mt-3" style="box-sizing:initial;" *ngIf="userService.hasAuthority('BAR')"
          (click)="listChallenges('paginatedhistoricalchallenges')">{{ 'historicalChallenges' | translate}}</button>
      </div>
      <div class="col-md-6" *ngIf="typec!='paginatedfuturechallenges'" style="text-align:center;">
        <button class="btn mt-6 mb-6 mt-3" style="box-sizing:initial;" *ngIf="userService.hasAuthority('BAR')"
          (click)="listChallenges('paginatedfuturechallenges')">{{ 'futureChallenges' | translate}}</button>
      </div>
    </div>


    <div *ngIf="challenges.length>0" class="row justify-content-center mt-3" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
      (scrolled)="fetchNext()">

        <div class=" col-md-6 col-lg-6  align-items-stretch pb-3 card-deck" *ngFor="let challenge of challenges">
          <div class="card">

            <div *ngIf="challenge.photo">
              <img class="card-img-top" src={{challenge.photo}} alt="Card image cap">
            </div>
            <div *ngIf="!challenge.photo">
              <img class="card-img-top" src="../../assets/img/logo.png" alt="Card image cap">
            </div>

            <div class="card-body">
              <h4 class="card-title"><strong>{{challenge.title}}</strong></h4>
              <h5 class="card-subtitle mb-2 text-muted">{{challenge.description}}</h5>
              <h5 class="card-text">{{"type_" + challenge.tipe | translate}}</h5>
              <h5 class="card-text">{{ 'number_points' | translate}}: {{challenge.number_points}}</h5>
              <h5 class="card-text">{{challenge.start_date | date:"dd/MM/yyyy"}} {{"date_to" | translate}} {{challenge.expiration_date | date:"dd/MM/yyyy"}}
              </h5>
              <h5 *ngIf="challenge.tipe == 'C' " class="card-text">
                {{ 'number_consumptions'  | translate}}: {{challenge.number}}
              </h5>
              <h5 *ngIf="challenge.tipe == 'D' " class="card-text">
                {{ 'number_days'  | translate}}: {{challenge.number}}
              </h5>
              <h5 *ngIf="challenge.tipe == 'AM' " class="card-text">
                {{ 'money_spent'  | translate}}: {{challenge.money_spent}}
              </h5>
              <h5 *ngIf="challenge.tipe == 'IM' " class="card-text">
                {{ 'money_spent'  | translate}}: {{challenge.money_spent}}
              </h5>
              <h5 *ngIf="challenge.tipe == 'CM' " class="card-text">
                {{ 'number_consumptions'  | translate}}: {{challenge.number}}
              </h5>
              <h5 *ngIf="challenge.tipe == 'CM' " class="card-text">
                {{ 'money_spent'  | translate}}: {{challenge.money_spent}}
              </h5>
              <button *ngIf="userService.hasAuthority('CLIENT') && isActive(challenge)" class="btn"
                (click)="claimChallenge(challenge)">{{ 'challenge_claim' | translate}}</button>
            </div>

          </div>
        </div>
        <!-- spinner-->
        <div class="row pb-5">
          <div class="col-md-12 p-5">
            <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="lightseagreen" type="ball-pulse-sync"
              [fullScreen]="false">
            </ngx-spinner>
          </div>
        </div>
    </div>
  </div>
</div>
