<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section id="header">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="page-wrapper p-t-180">
            <div class="wrapper wrapper--w960">
                <div class="card card-2">
                    <div class="card-body">
                        <div *ngIf="this.isAbleToScan && this.hasLocation">
                            <div *ngIf="this.existCamera">
                                <h2 style="text-align: center;" *ngIf="this.enableScan">{{ 'exchange_scan_msg1' | translate}}</h2>
                                <br>
                                <h3 class="text-center" *ngIf="this.successfullyScanned">{{ 'exchange_scan_successful' | translate}}</h3>
                                <h3 class="text-center" *ngIf="this.successfullyScanned">{{this.title}}</h3>
                                <h5 class="text-center" *ngIf="this.successfullyScanned">{{this.description}}</h5>
                                <h3 class="text-center" *ngIf="this.successfullyScanned">{{ 'exchange_scan_successful2' | translate}}</h3>
                                <h3 class="text-center" *ngIf="this.alreadyScanned">{{ 'exchange_scan_already_scanned' | translate}}</h3>

                                
                                <zxing-scanner *ngIf="this.enableScan && !this.scanDeactivated" [enable]="this.enableScan && !this.scanDeactivated" (camerasNotFound)="camerasNotFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="text-align:center">
                                            <i class="fa" *ngIf="this.enableScan"  [satPopoverAnchor]='popover' (click)="popover.toggle()">
                                            &#xf05a;
                                            </i>
                                            <sat-popover #popover hasBackdrop verticalAlign="below">
                                                <div class="info mat-caption">{{ 'payload_scan_license' | translate}} <br/><a href='https://github.com/zxing-js/ngx-scanner/blob/master/LICENSE'> {{ 'license_here' | translate}}</a>
                                                </div>
                                            </sat-popover>
                                        </div> 
                                        <h3 class="text-center" *ngIf="this.codeNotFound">{{ 'exchange_scan_not_found' | translate}}</h3>
                                        <h3 class="text-center" *ngIf="this.notEnoughPoints">{{ 'exchange_scan_not_enough_points' | translate}}</h3>
                                        <h3 class="text-center" *ngIf="this.saleIncorrect">{{ 'exchange_scan_sale_incorrect' | translate}}</h3>
                                        <h3 class="text-center" *ngIf="this.noSuscriptionInLocation">{{ 'exchange_scan_no_suscription' | translate}}</h3>
                                    </div>
                                </div>

                                <div style="text-align: center;">
                                    <input type="button" class="btn" style="margin-top: 25px; margin-bottom: 25px" *ngIf="this.enableScan" (click)="disableScan()" value="{{ 'scan_deactivate' | translate}}">
                                </div>

                                <div style="text-align: center;">
                                    <input type="button" class="btn" style="margin-top: 25px; margin-bottom: 25px" *ngIf="!this.enableScan" (click)="reloadView()" value="{{ 'exchange_scan_reset' | translate}}">
                                </div>
                            </div>
                            <h3 class="text-center" *ngIf="!this.existCamera">{{ 'payload_scan_no_camera' | translate}}</h3>
                        </div>
                        <h3 class="text-center" *ngIf="!this.hasLocation">{{ 'exchange_scan_not_location' | translate}}</h3>
                        <h3 class="text-center" *ngIf="!this.isAbleToScan">{{ 'exchange_scan_not_able_to_scan' | translate}}</h3>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>