.info{
    background-color: #495057d9;
    color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
  }
  
  .fa{
    font-size:1.5em;
    cursor: pointer;
  }