<div class="modal-header justify-content-center">
  <h4 class="modal-title" id="modal-title">{{"create_challenge" | translate}}</h4>
</div>
<div class="modal-body text-center">
  <h5>{{ 'create_challenge_modal'| translate}}</h5>
  <p>
    {{'challenge_type' | translate}}:
    <span>{{"type_" + challenge.tipe | translate}}</span>
  </p>
  <p *ngIf="challenge.tipe == 'C' " class="card-text">
    {{ 'number_consumptions'  | translate}}: {{challenge.number}}
  </p>
  <p *ngIf="challenge.tipe == 'D' " class="card-text">
    {{ 'number_days'  | translate}}: {{challenge.number}}
  </p>
  <p *ngIf="challenge.tipe == 'AM' " class="card-text">
    {{ 'money_spent'  | translate}}: {{challenge.money_spent}}
  </p>
  <p *ngIf="challenge.tipe == 'IM' " class="card-text">
    {{ 'money_spent'  | translate}}: {{challenge.money_spent}}
  </p>
  <p *ngIf="challenge.tipe == 'CM' " class="card-text">
    {{ 'number_consumptions'  | translate}}: {{challenge.number}}
  </p>
  <p *ngIf="challenge.tipe == 'CM' " class="card-text">
    {{ 'money_spent'  | translate}}: {{challenge.money_spent}}
  </p>
  <p>
    {{ 'title' | translate}}: {{challenge.title}}
  </p>
  <p>
    {{ 'description' | translate}}: {{challenge.description}}
  </p>
  <p *ngIf="challenge.photo">
    <img style="height: 10em" class="img-fluid" src="{{ challenge.photo }}" alt="{{ 'picture' | translate}}" />
  </p>
  <p>
    {{ 'start_date' | translate}}:
    <span>{{challenge.start_date}}</span>
  </p>
  <p>
    {{ 'expiration_date' | translate}}:
    <span>{{challenge.expiration_date}}</span>
  </p>
  <p>
    {{'number_points' | translate}}:
    <span>{{challenge.number_points}}</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="modal.dismiss('save')">{{ 'save' | translate}}</button>
  <button type="button" class="btn " (click)="modal.close('cancel')">{{ 'cancel' | translate}}</button>
</div>
