<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-body">
            <h2 style="text-align: center;">{{'oops_subscription' | translate}}</h2>
            <div class="container" style="padding: 2.5em; text-align:center">
              <img src="/assets/img/cross.gif" alt="">
            </div>

            <div class="row justify-content-center">
              <a routerLink="/list-subscriptions"><button  class="btn center">{{ 'return_to_subscription_list' | translate}}</button></a>
            </div>



        </div>
    </div>
</div>
</div>
