<div class="container">
  <div class="p-t-180">

    <div class="row" *ngIf="empty && sales.length<1">
      <div class="col-md-12">

        <div class="jumbotron pl-4 pr-4">
          <h1 class="display-4" style="text-align: left">{{'employee_msg_1' | translate}}</h1>
          <br>
          <p *ngIf="userService.hasAuthority('BAR') && is_owner" class="lead" style="text-align: justify">{{'sale_list_1' | translate}}</p>
          <p *ngIf="!is_owner" class="lead" style="text-align: justify">{{'sale_list_user_1' | translate}}</p>
          <hr class="my-4">
          <p *ngIf="userService.hasAuthority('BAR') && is_owner" class="lead" style="text-align: justify">
            {{'sale_list_2' | translate}}
            <span *ngIf="type === 'paginatedhistoricalsales'">{{'sale_list_3' | translate}}</span>
            <span *ngIf="type === 'paginatedsales'">{{'sale_list_4' | translate}}</span>
            <span *ngIf="type === 'paginatedfuturesales'">{{'sale_list_5' | translate}}</span>
          </p>
          <p *ngIf="userService.hasAuthority('BAR') && is_owner" class="lead" style="text-align: justify">{{'sale_list_6' | translate}}</p>
          <p *ngIf="!is_owner" class="lead" style="text-align: justify">{{'sale_list_user_2' | translate}}</p>
          <br>
          <div *ngIf="userService.hasAuthority('BAR') && is_owner" align="center">
            <button class="btn" (click)="createSale()" style="text-align: center;"
                    [disabled]="sale_button_disabled">{{ 'sale' | translate}}</button>
            <br><br>
            <span [ngClass]="{'alert-danger': sale_button_disabled, 'alert-success': !sale_button_disabled}"
                  class="mr-3"
                  *ngIf="true">{{suscription_msg | translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!empty && sales.length>0">
      <h2 style="text-align: center;">{{ 'list_sales' | translate}} {{location_name}}</h2>
      <br>
      <div style="text-align: right;">
        <h4 style="margin: auto" *ngIf="userService.hasAuthority('CLIENT')">
          {{ 'location_point' | translate}}{{this.pointQuantity}}</h4>
      </div>
      <div style="text-align: right;" *ngIf="userService.hasAuthority('BAR') && is_owner">
          <span [ngClass]="{'alert-danger': sale_button_disabled, 'alert-success': !sale_button_disabled}" class="mr-3"
                *ngIf="true">{{suscription_msg | translate}}</span>
        <button class="btn" (click)="createSale()" style="text-align: center;"
                [disabled]="sale_button_disabled">{{ 'sale' | translate}}</button>
      </div>
      <br>
    </div>

    <div *ngIf="userService.hasAuthority('BAR') && is_owner" class="row" style="text-align:center;">
      <div class="col-md-6" *ngIf="type!='paginatedsales'" style="text-align:center;">
        <button class="btn mt-6 mb-6 mt-3"
                (click)="listSales('paginatedsales')">{{ 'actualSales' | translate}}</button>
      </div>
      <div class="col-md-6" *ngIf="type!='paginatedhistoricalsales'" style="text-align:center;">
        <button class="btn mt-6 mb-6 mt-3" *ngIf="userService.hasAuthority('BAR')"
                (click)="listSales('paginatedhistoricalsales')">{{ 'historicalSales' | translate}}</button>
      </div>
      <div class="col-md-6" *ngIf="type!='paginatedfuturesales'" style="text-align:center;">
        <button class="btn mt-6 mb-6 mt-3" *ngIf="userService.hasAuthority('BAR')"
                (click)="listSales('paginatedfuturesales')">{{ 'futureSales' | translate}}</button>
      </div>
    </div>
    <div class="row justify-content-center" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
         (scrolled)="fetchNext()">
      <div class="col-md-12 col-lg-6 mt-2 p-b-50 card-deck" *ngFor="let sale of sales">
        <div class="card mb-3">
          <div class="row">
            <div class="col-md-5">
              <div *ngIf="sale.photo">
                <img class="card-img-top" src={{sale.photo}} alt="Card image cap">
              </div>
              <div *ngIf="!sale.photo">
                <img class="card-img-top" src="../../assets/img/logo.png" alt="Card image cap">
              </div>
              <br>
            </div>
            <div class="col-md-7">
              <div class="jumbotron">
                <h4 class="card-title"><strong>{{sale.title}}</strong></h4>
                <h5 class="card-subtitle mb-2 text-muted">{{sale.description}}</h5>
                <h5 class="card-text">{{ 'number_points' | translate}}: {{sale.number_points}}</h5>
                <h5 class="card-text">{{sale.start_date | date:"dd/MM/yyyy"}} {{"date_to" | translate}} {{sale.expiration_date | date:"dd/MM/yyyy"}}</h5>
                <button class="btn" *ngIf="userService.hasAuthority('CLIENT')"
                        [disabled]="notEnoughPoints(sale.number_points)"
                        (click)="exchange(sale.id)">{{ 'sale_exchange' | translate}}</button>
                <button class="btn mt-1" *ngIf="userService.hasAuthority('BAR') && is_owner" (click)="editSale(sale)">
                  {{ 'edit' | translate}} </button>
                &nbsp;
                <button class="btn delete-btn ml-1 mr-1 mt-2" *ngIf="userService.hasAuthority('BAR')  && is_owner"
                        (click)="deleteSale(sale)">
                  {{ 'DELETE' | translate}} </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- spinner-->
    <div class="row pb-5" *ngIf="!empty && sales.length>0">
      <div class="col-md-12 p-5">
        <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="lightseagreen" type="ball-pulse-sync"
                     [fullScreen]="false">
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>
