img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    margin-top: 25px;
    margin-left: 15px;
    text-align: center;
}

.jumbotron {
    padding: 1rem 0rem;
    text-align: center;
}

.delete-btn {
    background-color: red;
}
