<div class="container">
  <div class="p-t-180">
    <div class="row justify-content-center pt-3">
      <div class="col-md-12 pb-3">
        <h2 style="text-align: center;">{{ "list_point" | translate }}</h2>
      </div>
    </div>

    <div class="row justify-content-center pt-3" *ngIf="points.length == 0">
      <div class="col-md-12 pb-3">
        <h4 style="text-align: center;">{{ "list_point_none" | translate }}</h4>
      </div>
    </div>

    <div
      class="row justify-content-center pt-3 card-deck"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="fetchNext()"
    >
      <div
        class="col-md-6 col-lg-3  align-items-stretch pb-3 card-deck "
        *ngFor="let p of points"
      >
        <div class="card" *ngIf="p.location.is_active">
          <div *ngIf="p.location.is_active">
            <div *ngIf="p.location.logo">
              <a class="grab" (click)="showLocation(p.location)">
                <img
                  class="card-img-top"
                  src="{{ p.location.logo }}"
                  alt="Card image cap"
              /></a>
            </div>
            <div *ngIf="!p.location.logo">
              <a class="grab" (click)="showLocation(p.location)"
                ><img
                  class="card-img-top"
                  src="../../assets/img/logo.png"
                  alt="Card image cap"
              /></a>
            </div>

            <div class="card-body">
              <a class="grab" (click)="showLocation(p.location)"
                ><strong><h4 class="card-title">{{ p.location.name }}:</h4></strong></a
              >
              <h4 class="card-title">
                  {{ p.quantity }} {{ "exchange_points_row" | translate }}
              </h4>


              <div class="row align-items-center">
                <div align="center" class="col-md-12">
                  <button class="btn mb-4" (click)="listSales(p.location,'paginatedsales')">{{ 'show_location_18' | translate}}</button>
                </div>
                <div align="center" class="col-md-12">
                  <button class="btn"(click)="challengeList(p.location,'paginatedchallenges')">{{ 'show_location_19' | translate}}</button>
                </div>
              </div>

            </div>
          </div>
          <div *ngIf="!p.location.is_active">
            <div *ngIf="p.location.logo">
              <a class="grab" (click)="showLocation(p.location)">
                <img
                  class="card-img-top"
                  src="{{ p.location.logo }}"
                  alt="Card image cap"
              /></a>
            </div>
            <div *ngIf="!p.location.logo">
              <a class="grab" (click)="showLocation(p.location)"
                ><img
                  class="card-img-top"
                  src="../../assets/img/logo.png"
                  alt="Card image cap"
              /></a>
            </div>

            <div class="card-body">
              <a class="grab" (click)="showLocation(p.location)"
                ><strong><h4 class="card-title">{{ p.location.name }}</h4></strong></a
              >
              <h4 class="card-title">
                  {{ p.quantity }}{{ "exchange_points_row" | translate }}
              </h4>

            </div>
          </div>
        </div>
      </div>

      <!-- spinner-->
      <div class="row pb-5">
        <div class="col-md-12 p-5">
          <ngx-spinner
            bdOpacity="0.9"
            bdColor=""
            size="default"
            color="lightseagreen"
            type="ball-pulse-sync"
            [fullScreen]="false"
          >
          </ngx-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
