<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section id="header">
        <div class="inner" align="center">
          <span class="icon solid major fas fa-utensils"></span>
          <h1>
            {{ "home_1" | translate}}
            <br>
            {{ "home_2" | translate}}
          </h1>
          <p class="pt-3 pb-3">{{ "home_3" | translate}}</p>
          <ul class="actions special">
            <li><a (click)="two.scrollIntoView({ behavior: 'smooth', block: 'start' })" style="position: relative;
            z-index: 1;" class="button scrolly">{{ "home_4" | translate}}</a></li>
          </ul>
        </div>
      </section>


      <section #two class="main style2">
        <div  class="row" align="center">
          <div class="col-md-6 pl-4 pr-4">
            <span class="icon solid style1 major fa-beer mr-1 ml-1"></span>
            <span class="icon solid style1 major fa-user-friends mr-1 ml-1"></span>
          </div>
          <div class="col-md-6 pl-4 pr-4">
            <span class="icon solid style1 major fa-smile-beam mr-1 ml-1"></span>
            <span class="icon solid style1 major fa-money-bill mr-1 ml-1"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pl-4 pr-4 ml-0 mr-0">
            <header>
              <h2>{{ "home_8" | translate}}</h2>
            </header>
            <p style="text-align: justify">
              {{ "home_20" | translate}}
            </p>
          </div>
        </div>
      </section>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    <!-- Three -->
  <div class="row">
    <div class="col-md-12">
      <section id="barhome" class="main style1 special">
        <div class="container">
          <header class="major">
            <h2>{{ "home_18" | translate}}</h2>
          </header>
        </div>
        <div class="row">
          <div class="col-md-6 pr-4 pl-4" *ngFor="let membership of memberships">
            <div class="card">
              <div align="center">
              <div class="card-boy">
                  <div class="card-style" *ngIf="translate.currentLang=='es'">
                    <strong><h1 class="card-title mb-2">{{membership.titleS}}</h1></strong>
                    <p style="text-align: justify !important;" ALIGN="justify" class="card-text">
                      {{membership.descriptionS}}
                    </p>
                  </div>
                  <div class="card-style" *ngIf="translate.currentLang=='en'">
                    <strong><h1 class="card-title mb-2">{{membership.titleE}}</h1></strong>
                    <p style="text-align: justify !important;" ALIGN="justify" class="card-text">
                      {{membership.descriptionE}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
        <br>
        </div>
        <div class="table-responsive text-nowrap">

  <table class="table">
    <thead>
      <tr>
        <th style="text-align:center;" scope="col">{{ "functions" | translate}}</th>
        <th style="text-align:center;" scope="col">{{ "normal" | translate}}</th>
        <th style="text-align:center;" scope="col">{{ "vip" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ "mapAdvertise" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "uploadSale" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "uploadAchievement" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "manageEmployee" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "transactionsList" | translate}}</td>
        <td>❌</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "moreAchievements" | translate}}</td>
        <td>❌</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "differentiation" | translate}}</td>
        <td>❌</td>
        <td style="color: #42A948">✔</td>
      </tr>
    </tbody>
  </table>

</div>
      </section>
    </div>
  </div>

<div class="row">
    <div class="col-md-12">
    <!-- Three -->
  <div class="row">
    <div class="col-md-12">
      <section id="barhome" class="main style1 special">
        <div class="container">
          <header class="major">
            <h2>{{ "home_19" | translate}}</h2>
          </header>
        </div>
        <div>
            <iframe align="center" width="560" height="315" src="https://www.youtube.com/embed/BUDXHqpKt6k?controls=0"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="container">
        <br>
        </div>

      </section>
    </div>
  </div>












  <div class="row">
    <div class="col-md-12">
      <!-- Four -->
      <section id="four" class="main style2 special">
        <div class="container">
          <header class="major">
            <h2>{{ "home_12" | translate}}</h2>
          </header>
          <p class="pl-4 pr-4">{{ "home_13" | translate}}</p>
          <div class="actions special">
            <a routerLink="/about" class="button wide primary">{{ "home_12" | translate}}</a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section id="footer">
        <!--
        <ul class="icons">
          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        -->
        <ul class="copyright">
          <li>&copy; POINTBAR</li>
        </ul>
      </section>

    </div>
  </div>
</div>
</div>
</div>



