.control_desc {
    font-size: small;
    color: royalblue;
}

#char-count {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    text-align: right;
}

.delete-btn {
    background-color: red;
}