<section id="header">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="page-wrapper p-t-180 p-b-100">
            <div class="wrapper wrapper--w70">
              <div class="card card-2">
                <div class="card-body">
                  <h2 style="text-align: center;">{{ 'edit_employee' | translate}}</h2>
                  <br>
                  <!-- Formulario para usuario con rol EMPLEADO -->
                  <div *ngIf="rolemp">
                  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">{{ 'name' | translate}}:</label>
                            <span *ngIf="isSubmitted && formControls.name.errors" class="alert text-danger">
                              <span *ngIf="formControls.name.errors.required">{{ 'name_required' | translate}}</span>
                              <span *ngIf="formControls.name.errors.minlength">{{ 'name_minLength' | translate}}</span>
                              <span *ngIf="formControls.name.errors.maxlength">{{ 'name_maxLength' | translate}}</span>
                            </span>
                            <input type="text" formControlName="name" placeholder="Peter" name="name" class="form-control" id="name">
                        </div>

                        <div class="form-group">
                            <label for="is_working">{{ 'is_working' | translate}}:</label>
                            <input disabled="true" type="text" value="{{ yesnoworking }}" name="is_working" class="form-control" id="is_working">
                        </div>

                        <!-- <div class="form-group" >
                            <label for="location">{{ 'select_location_emp' | translate}}:</label>
                            <input disabled="true" type="text" value="{{ locationName }}" name="location" class="form-control" id="location">
                        </div> -->
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="control">{{ 'control_emp' | translate}}</label> &nbsp;
                          <img (mouseenter)="showDesc=true" (mouseleave)="showDesc=false" class="hover_info"
                          src="/assets/img/info-circle.svg" alt="" width="20" height="20">
                          <input disabled="true" type="text" value="{{ yesnocontrol }}" name="control" class="form-control" id="control">
                          <div [hidden]="!showDesc">
                            <div class="control_desc">{{ 'control_desc_emp' | translate}}</div>
                            <br>
                          </div>
                        </div>

                        <div class="form-group" *ngIf="showLimit">
                          <label for="limit_points">{{ 'limit_points' | translate}}:</label>
                          <input disabled="true" type="text" formControlName="limit_points" name="limit" class="form-control" id="limit">
                        </div>

                        <div class="form-group">
                          <label>{{ 'granted_points' | translate}}</label>
                          <input disabled="true" type="text" formControlName="granted_points" name="granted_points" class="form-control" id="granted_points">
                        </div>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-md-4">
                        <button  style="text-align:right;" (click)="onDelete()" class="delete-btn btn" type="button">{{ 'anonymize' | translate}}</button> &nbsp;
                        <button style="text-align:center;" (click)="onExport(2)" *ngIf="currentLang == 'en'" class="btn" type="button">{{ 'export' | translate}}</button>
                        <button style="text-align:center;" (click)="onExport(1)" *ngIf="currentLang == 'es'" class="btn" type="button">{{ 'export' | translate}}</button>
                      </div>
                        <div class="col-md-8" style="text-align:right;">
                        <button class="btn">{{ 'save' | translate}}</button>
                      </div>
                    </div>
                  </form>
                  </div>
                  <!-- Fin del formulario para usuario con rol EMPLOYEE -->

                  <!-- Formulario para usuario con rol BAR -->
                  <div *ngIf="rolbar">
                  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">{{ 'name' | translate}}:</label>
                            <span *ngIf="isSubmitted && formControls.name.errors" class="alert text-danger">
                              <span *ngIf="formControls.name.errors.required">{{ 'name_required' | translate}}</span>
                              <span *ngIf="formControls.name.errors.minlength">{{ 'name_minLength' | translate}}</span>
                              <span *ngIf="formControls.name.errors.maxlength">{{ 'name_maxLength' | translate}}</span>
                            </span>
                            <input type="text" formControlName="name" placeholder="Peter" name="name" class="form-control" id="name">
                        </div>

                        <div class="form-group">
                            <label for="is_working">{{ 'is_working' | translate}}:</label>
                            <span *ngIf="isSubmitted && formControls.is_working.errors" class="alert text-danger">
                              <span *ngIf="formControls.is_working.errors.required">{{ 'is_working_required' | translate}}</span>
                            </span>
                            <select formControlName="is_working" name="is_working" class="form-control" id="is_working" required>
                              <option [selected]="isWorking" value="True">{{ 'yes' | translate}}</option>
                              <option [selected]="isNotWorking" value="False">{{ 'no' | translate}}</option>
                            </select>
                        </div>

                        <div class="form-group" >
                            <label for="location">{{ 'select_location' | translate}}:</label>
                            <span *ngIf="isSubmitted && formControls.location.errors" class="alert text-danger">
                                <span *ngIf="formControls.location.errors.required">{{ 'location_required' | translate}}</span>
                            </span>
                            <select formControlName="location" name="location" class="form-control" id="location" required>
                                <option *ngFor="let location of locations" [ngValue]="location.id">{{ location.name }}</option>
                            </select><br/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="control">{{ 'control' | translate}}</label> &nbsp;
                          <img (mouseenter)="showDesc=true" (mouseleave)="showDesc=false" class="hover_info"
                               src="/assets/img/info-circle.svg" alt="" width="20" height="20">
                          <div [hidden]="!showDesc">
                            <div class="control_desc">{{ 'control_desc' | translate}}</div>
                            <br>
                          </div>
                          <span *ngIf="isSubmitted && formControls.control.errors" class="alert text-danger">
                            <span *ngIf="formControls.control.errors.required">{{ 'control_required' | translate}}</span>
                          </span>
                          <select (change)="showPointsLimit($event)" formControlName="control" name="control" class="form-control" id="control" required>
                              <option [selected]="control" value="True">{{ 'yes' | translate}}</option>
                              <option [selected]="notControl" value="False">{{ 'no' | translate}}</option>
                          </select>
                        </div>

                        <div class="form-group" *ngIf="showLimit">
                          <label for="limit_points">{{ 'limit_points' | translate}}:</label>
                          <span *ngIf="isSubmitted && formControls.limit_points.errors" class="alert text-danger">
                            <span *ngIf="formControls.limit_points.errors.required">{{ 'limit_points_required' | translate}}</span>
                            <span *ngIf="formControls.limit_points.errors.min">{{ 'limit_points_min' | translate}}</span>
                            <span *ngIf="formControls.limit_points.errors.max">{{ 'limit_points_max' | translate}}</span>
                          </span>
                          <input type="number" formControlName="limit_points" name="limit" class="form-control" id="limit">
                          <div id="char-count">{{ "max_limit" | translate }}</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4" style="text-align:right;">
                        <button class="btn mt-3" type="button" (click)="deleteModal()">{{ 'anonymize' | translate}}</button>
                      </div>
                      <div class="col-md-4" style="text-align:right;">
                        <button class="btn mt-3">{{ 'save' | translate}}</button>
                      </div>
                    </div>
                  </form>
                  </div>
                  <!-- Fin del formulario para usuario con rol BAR -->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </section>
