<section id="header">
  <div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper">
      <div class="card card-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12" *ngIf="translate.currentLang == 'en' ">
                <h2 style="text-align: center;"><strong>Terms and Conditions of Use</strong></h2>
                <p>&nbsp;</p>
                <h5><strong>RELEVANT INFORMATION</strong></h5>
                <p>It is a requirement for the purchase of the products offered on this site that you read and accept the following Terms and Conditions which are written below. The use of our services as well as the purchase of our products will imply that you have read and accepted the Terms and Conditions of Use in this document. All the products &nbsp;that are offered by our web site could be created, charged, sent or presented by a third party web page and in such case would be subject to its own Terms and Conditions. In some cases, in order to acquire a product, it will be necessary for the user to register, entering reliable personal data and defining a password.</p>
                <p>The user can choose and change the password for his account management access at any time, in case he has registered and it is necessary for the purchase of any of our products. All purchases and transactions carried out through this website are subject to a confirmation and verification process, which may include checking stock and product availability, validation of the payment method, validation of the invoice (if any) and compliance with the conditions required by the selected payment method. In some cases it may be required a verification by e-mail.</p>
                <p>The prices of the products offered in this Online Store is valid only for purchases made on this website.</p>
                <p>&nbsp;</p>
                <h5><strong>LICENSE</strong></h5>
                <p>Pointbar&nbsp; through its website grants a license for users to use&nbsp; the products that are sold on this website according to the Terms and Conditions described in this document. </p>
                <p>&nbsp;</p>
                <h5><strong> UNAUTHORIZED USE</strong></h5>
                <p>If applicable (for sale of software, templates, or other design and programming products) you may not place one of our products, modified or unmodified, on a CD, website or any other medium and offer it for redistribution or resale of any kind. </p>
                <p>&nbsp;</p>
                <h5><strong>PROPERTY</strong></h5>
                <p>You may not claim intellectual or exclusive ownership of any of our products, modified or unmodified. All products are the property &nbsp;of the content providers. Unless otherwise specified, our products are provided&nbsp; without any warranty, express or implied. In no event shall this company&nbsp; be liable for any damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses resulting from the use or inability to use our products. </p>
                <p>&nbsp;</p>
                <h5 ><strong>REFUND AND WARRANTY POLICY</strong></h5>
                <p>In the case of products that are irrevocable non-tangible goods, we do not make refunds after the product is shipped, you have the responsibility to understand before you buy. &nbsp;We ask you to read carefully before buying. We only make exceptions to this rule when the description does not fit the product. There are some products that may have a warranty and refund possibility but this will be specified when purchasing the product. In such cases the warranty will only cover factory failures and will only become effective when the product has been used correctly. The warranty does not cover breakdowns or damage caused by improper use. The terms of the warranty are associated with manufacturing and operational faults under normal product conditions and will only become effective if the equipment has been used correctly. This includes: </p>
                  <ul style="margin: 2em;">
                    <li>According to the technical specifications indicated for each product.</li>
                    <li>Under environmental conditions according to the specifications indicated by the manufacturer.</li>
                    <li>In specific use for the function with which it was designed at the factory.</li>
                    <li>Under electrical operating conditions according to the specifications and tolerances indicated.</li>
                  </ul>
                <p>&nbsp;</p>
                <h5 ><strong> ANTI-FRAUD TESTING</strong></h5 >
                <p>The customer's purchase can be postponed for anti-fraud testing. It may also be suspended longer for a more rigorous investigation to prevent fraudulent transactions. </p>
                <p>&nbsp;</p>
                <h5 ><strong>PRIVACY</strong></h5 >
                <p>This website ensures that the personal information you submit is secure. The data entered by user or in the case of requiring a validation of orders will not be delivered to third parties, unless it must be disclosed in compliance with a court order or legal requirements.</p>
                <p>Subscription to advertising e-mail newsletters is voluntary and may be selected at the time of creating your account.</p>
                <p>Pointbar reserves the right to change or modify these terms without notice.</p>
                <p>&nbsp;</p>
                <h5 ><strong>DATA YOU PROVIDE US WITH</strong></h5 >
                <p>By registering in the application you accept the provision of personal data such as name, email or date of birth, among others. By registering in this application you accept that the data resulting from the user's activity in the platform will not be deleted with the closure of your account.</p>
                <p>&nbsp;</p>
                <h5 ><strong>DATA MANAGEMENT BY USERS WITH THE 'BAR' ROLE</strong></h5 >
                <p>A user with the 'BAR' role must have the explicit consent of the employees to use of your personal data. This data management includes the recording, editing and deletion of information of a personal nature.</p>
                <p>&nbsp;</p>
                <h5  ><strong>DISCLAIMER</strong></h5 >
                <p>The Pointbar team is not responsible for any conflicts that may arise due to improper use of the application, including those whose nature is to defraud, deceive, or ultimately harm any user of the application, among others.",</p>
                <p>&nbsp;</p>
                <h5><strong>HOW DO WE COLLECT INFORMATION?</strong></h5>
                <p>We collect information related to how you use our Services, including how you interact with our software (including, but not limited to, clicks, page views, searches and steps taken to complete actions).</p>
                <p>&nbsp;</p>
                <h5><strong>WHAT TYPE OF INFORRMATION IS COLLECTED FROM YOU?</strong></h5>
                <p>When you sign up to create a PointBar profile.We collect information such as:</p>
                 <ul style="margin: 2em;">
                                    <li>User name.</li>
                                    <li>Bar name.</li>
                                    <li>Registration date.</li>
                                    <li>E-mail.</li>
                                    <li>Phone Number.</li>
                                  </ul>
                <p>When you access our sites, we collect infromation about your computer sotfware and hardware:</p>
                 <ul style="margin: 2em;">
                                    <li>Device type.</li>
                                    <li>Cookies.</li>
                                    <li>Browser.</li>
                                  </ul>

                <p>According to location, If you use our Services, we may receive precise geographic location data from your mobile device when the PointBar Application is running.</p>
                 <p>&nbsp;</p>
                <h5><strong>HOW IS YOUR INFROMATION USED?</strong></h5>
                <p>This information is used by PointBar for the operation of services, to maintain quality of the service, and to provide general statistics regarding use of the PointBar Sites.</p>
                <p>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through PointBar may be collected and used by others.</p>
                <p>We may use your information to:</p>
                <ul style="margin: 2em;">
                                    <li>Provide you with new and improved features.</li>
                                    <li>Personalise your experiences on our Sites.</li>
                                    <li>Seek your feedback on the services we provide.</li>
                                     </ul>
                <p>We may combine your Personal Information with Device Information and Location Information to serve you specifically a product, according to your preferences or restrictions, or for advertising or advertising targeting purposes.</p>
                <p>When we combine Personal Information with Device Information in this way, we treat it as, and apply all of the safeguards in this Policy applicable to, Personal Information.</p>
                <p>Consistent with above, we may communicate with you via electronic messages, including email, application notification</p>
                <p>&nbsp;</p>

                <h5><strong>OUR ROLE AS DATA CONTROLLER AND DATA PROCESSOR</strong></h5>
                <p>It is important to understand the difference between being a data controller and data processor.</p>
                <p>We are not responsible for any restaurant’s use of information for which it is an owner or controller.</p>
                <p>To learn more about how a restaurant may use such personal information, you should review its privacy notice.</p>
                <p>&nbsp;</p>
                <h5><strong>RETENTION</strong></h5>
                <p>We review our retention periods on a regular basis. We will hold your personal information on our systems for as long as is necessary for the relevant activity, or as long as it is set out in any relevant contract you hold with us.</p>
                <p>&nbsp;</p>
                <h5><strong>WHO HAS ACCESS TO YOUR INFORMATION?</strong></h5>
                <p>PointBar does sell, rent or lease its customer and users lists to third parties.</p>
                <p>PointBar may share your information with other third parties for marketing purposes with your consent.</p>
                <p>&nbsp;</p>
                <h5><strong>PAYMENT CARD INFORMATION</strong></h5>
                <p>By submitting your credit or debit card account information through our Sites, to the extent permitted by applicable law, you expressly consent to the sharing of your information with restaurants, third-party payment processors (e.g Pay-pal), and other third-party service providers, and you further agree to the following terms.</p>
                <p>&nbsp;</p>
                <h5><strong>INFORMATION ACCESS</strong></h5>
                <p>If you would like access to your data then please contact us.</p>
                <p>&nbsp;</p>
                <p>If you would like to delete personal information relating to a sale and challenge, please contact the restaurant where the reservation was made.</p>
                <p>&nbsp;</p>
                <h5><strong>SECURITY PRECAUTIONS</strong></h5>
                <p>When you give us personal information, we take steps to ensure that it’s treated securely. Any sensitive information (such as credit or debit card details) is encrypted and protected with the following software, the Secure Socket Layer (SSL)</p>
                <p>The use of Paypal</p>
                <p>&nbsp;</p>
                <h5><strong>DATA BREACH</strong></h5>
                <p>We will notify affected venues within 48 hours of becoming aware of the breach.</p>
                <p>&nbsp;</p>
                <h5><strong>WHERE THE INFORMATION IS STORED?</strong></h5>
                <p>Data is stored securely in Heroku data centres throughout the world.</p>
                <p>&nbsp;</p>
                <h5><strong>PROFILING</strong></h5>
                <p>We may analyse your personal information to create a profile of your interests and preferences so that we can contact you with information relevant to you.</p>
                <p>We may make use of additional information about you when it is available from external sources to help us do this effectively.</p>
                <p>&nbsp;</p>
                <h5><strong>USE OF COOKIES</strong></h5>
                <p>Like many other websites, we use cookies. We use them to help you personalise your online experience.</p>
                <p>We use cookies for the following purposes:</p>
                <ul style="margin: 2em;">
                                    <li>Authentication, personalisation and security: Cookies help us verify your Account and device and determine when you’re logged in.</li>
                                    <li>Performance and analytics: Cookies help us analyse how the Services are being accessed and used, and enable us to track performance of the Services.</li>
                                    <li>Opting Out: You can set your browser to not accept cookies, but this may limit your ability to use the Services.</li>
                                    </ul>

                <p>&nbsp;</p>

                <h5><strong>USAGE POLICY</strong></h5>
<p>Pointbar has the possibility of blocking accounts that carry out illicit activities such as the following:</p>
 <ul style="margin: 2em;">
<li>Creation of fake accounts for spam.</li>
<li>Use of an account for illegal purposes, such as theft of data from third parties.</li>
<li>Any type of hacking that allows the user or client of the application to parts that are not visible to them.</li>
</ul>
<p>If one of the above activities is perceived in a user or client immediately the account will be blocked.</p>
<p>In addition to this, Pointbar also offers its customers the possibility to block certain users, if they consider that their behaviour is not correct in their establishment.</p>
<p>In case the user is not in agreement with the conditions imposed by the company or by the customers, he can contact Pointbar via e-mail where all his doubts will be answered and in case it is considered appropriate, his account will be re-activated.</p>
<p>&nbsp;</p>

                <h5><strong>CHANGES OF THIS STATEMENT</strong></h5>
                <p>PointBar will occasionally update this Privacy Policy to reflect company and customer feedback.</p>
                <p>PointBar encourages you to periodically review this statement to be informed of how PointBar is protecting your information. This policy was last updated in March 2020.</p>
                <p>&nbsp;</p>
                <h5><strong>CONTACT US</strong></h5>
                <p>If you have any question please don`t be ashame and contact us via e-mail at support@pointbar.site</p>
              </div>

              <div class="col-md-12" *ngIf="translate.currentLang == 'es' ">
                <h2 style="text-align: center;"><strong>Términos y Condiciones de Uso</strong></h2>
                <p>&nbsp;</p>
                <h5><strong>INFORMACIÓN RELEVANTE</strong></h5>
                <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos &nbsp;que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</p>
                <p>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. Poinbar no asume la responsabilidad en caso de que entregue dicha clave a terceros.</p>
                <p>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.</p>
                <p>Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.</p>
                <p>&nbsp;</p>
                <h5><strong>LICENCIA</strong></h5>
                <p>Pointbar&nbsp; a través de su sitio web concede una licencia para que los usuarios utilicen&nbsp; los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.</p>
                <p>&nbsp;</p>
                <h5><strong>USO NO AUTORIZADO</strong></h5>
                <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.</p>
                <p>&nbsp;</p>
                <h5><strong>PROPIEDAD</strong></h5>
                <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad &nbsp;de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan&nbsp; sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será &nbsp;responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.</p>
                <p>&nbsp;</p>
                <h5><strong>POLÍTICA DE REEMBOLSO Y GARANTÍA</strong></h5>
                <p>En el caso de productos que sean mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo. &nbsp;Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye:</p>
                  <ul style="margin: 2em;">
                    <li>De acuerdo a las especificaciones técnicas indicadas para cada producto.</li>
                    <li>En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.</li>
                    <li>En uso específico para la función con que fue diseñado de fábrica.</li>
                    <li>En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.</li>
                  </ul>
                <p>&nbsp;</p>
                <h5><strong>COMPROBACIÓN ANTIFRAUDE</strong></h5>
                <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.</p>
                <p>&nbsp;</p>
                <h5><strong>PRIVACIDAD</strong></h5>
                <p>Este sitio web garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.</p>
                <p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.</p>
                <p>Pointbar reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
                <p>&nbsp;</p>
                <h5><strong>DATOS QUE NOS FACILITA</strong></h5>
                <p>Registrándose en la aplicación acepta la facilitación de datos personales tales como nombre, correo electrónico o fecha de nacimiento, entre otros. Registrándose en esta aplicación acepta que los datos fruto de la actividad del usuario en la plataforma no serán borrados con el cierre de su cuenta.
                <p>&nbsp;</p>
                <h5><strong>MANEJO DE DATOS POR PARTE DE USUARIOS CON EL ROL 'BAR'</strong></h5>
                <p>Un usuario con el rol 'BAR' tiene que tener el consentimiento explícito de los empleados para hacer uso de sus datos personales. Este manejo de datos incluye el registro, edición y eliminación de información de carácter personal.</p>
                <p>&nbsp;</p>
                <h5><strong>DESCARGO DE RESPONSABILIDAD</strong></h5>
                <p>El equipo de Pointbar no se hace responsable de confictos que se puedan ocasionar debido al uso inadecuado de la aplicación, incluyendo aquellos cuya naturaleza sea estafar, defraudar, engañar o, en definitiva, perjudicar a algún usuario de la aplicación, entre otros.",</p>
                <h5><strong>¿COMO RECOGEMOS INFORMACIÓN DE USTED?</strong></h5>
                <p>Recopilamos información relacionada con la forma en que utiliza nuestros Servicios, incluyendo la forma en que interactúa con nuestro software (incluyendo, entre otros, clics, visitas a páginas, búsquedas y medidas tomadas para completar las acciones).</p>
                <p>&nbsp;</p>
                <h5><strong>¿QUÉ TIPO DE INFROMACIÓN SE RECOPILA DE USTED?</strong></h5>
                <p>Cuando te registras para crear un perfil en PointBar.Recopilamos información como:</p>
                <ul style="margin: 2em;">
                                    <li>Nombre de Usuario.</li>
                                    <li>Nombre del Bar.</li>
                                    <li>Fecha de registro.</li>
                                    <li>E-mail.</li>
                        <li>Número de teléfono.</li>
                                  </ul>

                <p>Cuando accedes a nuestro sistema web, recopilamos información software y hardware</p>
                <ul style="margin: 2em;">
                                    <li>Tipo de dispositivo.</li>
                                    <li>Cookies.</li>
                                    <li>Navegador.</li>
                                  </ul>


                <p>De acuerdo a la localización. Si utiliza nuestros Servicios, es posible que recibamos datos precisos de ubicación geográfica desde su dispositivo móvil cuando se ejecuten la Aplicación PointBar.</p>
                <p>&nbsp;</p>
                <h5><strong>¿CÓMO SE UTILIZA SU INFORMACIÓN?</strong></h5>
                <p>Esta información es utilizada por PointBar para la operación de los servicios, para mantener la calidad del servicio y para brindar estadísticas generales acerca del uso de los Sitios de PointBar.</p>
                <p>Por favor tenga en cuenta que si Ud. divulga directamente información de identificación personal o datos privados a través de PointBar, éstos pueden ser recolectados y usados por otros.</p>
                <p>Podemos usar su información para:</p>
                <ul style="margin: 2em;">
                                    <li>Le proporcionará nuevas y mejoradas características.</li>
                                    <li>Personalice sus experiencias en nuestros sitios.</li>
                                    <li>Buscar su opinión sobre los servicios que proporcionamos.</li>
                                    </ul>
                <p>Podemos combinar su Información Personal con la Información del Equipo y la información de ubicación para servirle específicamente, tal producto a usted de acuerdo con sus preferencias o restricciones, o para fines de publicidad o de orientación publicitaria.</p>
                <p>Cuando combinamos la Información Personal con la Información del Dispositivo de esta manera, la tratamos como, y aplicamos todas las salvaguardas de esta Política aplicables a la Información Personal.</p>
                <p>De acuerdo con lo anterior, podemos comunicarnos con usted a través mensajes electrónicos, e-mail, notificaciones de la propia aplicación</p>
                <p>&nbsp;</p>

                <h5><strong>NUESTRO PAPEL COMO CONTROLADOR Y PROCESADOR DE DATOS</strong></h5>
                <p>Es importante entender la diferencia entre ser un controlador de datos y un procesador de datos.</p>
                <p>No nos hacemos responsables del uso que haga un restaurante de la información de la que es propietario o controlador.</p>
                <p>Para saber más acerca de cómo un restaurante puede usar esa información personal, debe revisar su aviso de privacidad.</p>
                <p>&nbsp;</p>
                <h5><strong>RETENCIÓN</strong></h5>
                <p>Revisamos nuestros períodos de retención de forma regular. Retendremos su información personal en nuestros sistemas durante el tiempo que sea necesario para la actividad pertinente, o durante el tiempo que se establezca en cualquier contrato relevante que tenga con nosotros.</p>
                <p>&nbsp;</p>
                <h5><strong>¿QUIÉN TIENE ACCESO A NUESTRA INFORMACIÓN?</strong></h5>
                <p>PointBar vende, alquila o arrienda su lista de clientes a terceras partes.</p>
                <p>PointBar puede compartir su información con otros terceros para fines de marketing con su consentimiento.</p>
                <p>&nbsp;</p>
                <h5><strong>INFORMACIÓN DEL PAGO</strong></h5>
                <p>Al enviar la información de su cuenta de tarjeta de crédito o débito a través de nuestros Sitios, en la medida en que lo permita la ley aplicable, usted da su consentimiento expreso para que se comparta su información con restaurantes, procesadores de pagos de terceros (por ejemplo, Pay-pal) y otros proveedores de servicios de terceros, y además acepta los siguientes términos.</p>
                <p>&nbsp;</p>
                <h5><strong>ACCESO A LA INFORMACIÓN</strong></h5>
                <p>Si desea acceder a sus datos, póngase en contacto con nosotros.</p>
                <p>&nbsp;</p>
                <p>Si desea eliminar la información personal relacionada con una venta y un desafío, póngase en contacto con el restaurante donde se hizo la reserva.</p>
                <p>&nbsp;</p>
                <h5><strong>PRECAUCIONES DE SEGURIDAD</strong></h5>
                <p>Cuando nos das información personal, tomamos medidas para asegurarnos de que sea tratada con seguridad. Cualquier información sensible (como los datos de las tarjetas de crédito o de débito) se codifica y protege con el siguiente software, el Secure Socket Layer (SSL).</p>
                <p>Uso de Pay-Pal</p>
                <p>&nbsp;</p>
                <h5><strong>BRECHA DE SEGURIDAD</strong></h5>
                <p>Notificaremos a los lugares afectados dentro de las 48 horas de haber tenido conocimiento de la violación.</p>
                <p>&nbsp;</p>
                <h5><strong>¿DÓNDE SE ALMACENAN LOS DATOS?</strong></h5>
                <p>Los datos se almacenan de forma segura en los centros de datos de Heroku en todo el mundo.</p>
                <p>&nbsp;</p>
                <h5><strong>PERFILES</strong></h5>
                <p>Podemos analizar su información personal para crear un perfil de sus intereses y preferencias para poder contactarle con información relevante para usted.</p>
                <p>Podemos hacer uso de información adicional sobre usted cuando esté disponible de fuentes externas para ayudarnos a hacerlo de manera efectiva..</p>
                <p>&nbsp;</p>
                <h5><strong>EL USO DE "COOKIES"</strong></h5>
                <p>Como muchos otros sitios web, usamos cookies. Las usamos para ayudarte a personalizar tu experiencia en línea.</p>
                <p>Usamos cookies para los siguientes propósitos:</p>
                <ul style="margin: 2em;">
                                    <li>Autenticación, personalización y seguridad: Las cookies nos ayudan a verificar su Cuenta y su dispositivo y a determinar cuándo ha iniciado sesión.</li>
                                    <li>Rendimiento y análisis: Las cookies nos ayudan a analizar cómo se accede a los Servicios y cómo se utilizan, y nos permiten hacer un seguimiento del rendimiento de 			los Servicios.</li>
                                    <li>Optar por no hacerlo: Puede configurar su navegador para que no acepte cookies, pero esto puede limitar su capacidad para utilizar los Servicios.</li>
                                    </ul>

                <p>&nbsp;</p>

                <h5><strong>POLÍTICA DE USO</strong></h5>
<p>Pointbar cuenta con la posibilidad de bloqueo de cuentas que realicen actividades ílicitas como las siguientes:</p>
 <ul style="margin: 2em;">
<li>Creación de cuentas falsas para spam.</li>
<li>Uso de una cuenta para fines ilícitos, como el robo de datos a terceros.</li>
<li>Todo tipo de hacking que permitá al usuario o cliente de la aplicación a partes que no esten visibles para ellos.</li>
</ul>
<p>Si una de las actividades anteriores se percibe en un usuario o cliente inmediatamente será bloqueada la cuenta.</p>
<p>Junto a esto Pointbar también les brinda la posibilidad a sus clientes de poder bloquear determinados usuarios, si estos consideran que su comportamiento no es correcto en sus establecimiento.</p>
<p>En caso de que el usuario no este de acuerdo con la sación impuesta bien por la empresa o por los clientes, puede contactar con Pointbar a vía e-mail donde se le responderán todas su dudas y en el caso que se considere oportuno se volverá habilitar su cuenta.</p>
<p>&nbsp;</p>
                <h5><strong>CAMBIOS DE ESTA DECLARACIÓN</strong></h5>
                <p>PointBar actualizará ocasionalmente esta Política de Privacidad para reflejar los comentarios de la compañía y de los clientes.</p>
                <p>En PointBar lo alentamos a que revise periódicamente esta declaración para estar informado de cómo PointBar protege su información. Esta política fue actualizada por última vez en Marzo de 2020.</p>
                <p>&nbsp;</p>
                <h5><strong>CONTACTA CON NOSOTROS</strong></h5>
                <p>Si tienes alguna pregunta no dudes en ponerte en contacto con nosotros vía e-mail a support@pointbar.site</p>





              </div>
            </div>
          </div>
         </div>
      </div>
  </div>
</div>
</section>
