<div *ngIf="userService.isAuthenticated() == false || userService.hasAuthority('BAR') || userService.hasAuthority('CLIENT')" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section id="header">
        <div class="inner" align="center">
          <span class="icon solid major fas fa-utensils"></span>
          <h1>
            {{ "home_1" | translate}}
            <br>
            {{ "home_2" | translate}}
          </h1>
          <p class="pt-3 pb-3">{{ "home_3" | translate}}</p>
          <ul class="actions special">
            <li><a (click)="one.scrollIntoView({ behavior: 'smooth', block: 'start' })" style="position: relative;
    z-index: 1;" class="button scrolly">{{ "home_4" | translate}}</a></li>
          </ul>
        </div>
      </section>

      <!-- One -->
      <p #one></p>
      <section>
        <div class="row pt-4 pb-4">
          <div class="col-md-6 pl-4 pr-4">
            <header class="major">
              <h2>{{ "home_5" | translate}}</h2>
            </header>
            <p style="text-align: justify">
              {{ "home_6" | translate}}
            </p>
            <p style="text-align: justify">
              {{ "home_7" | translate}}
            </p>
          </div>
          <div class="col-md-6 pl-4 pr-4">
            <div align="center">
              <img class="card-img-top"
                   src="../../assets/img/home_1_1.jpg" alt="picture"/>
            </div>
          </div>
        </div>
      </section>

      <!-- Two -->
      <section id="two" class="main style2">
        <div class="row" align="center">
          <div class="col-md-6 pl-4 pr-4">
            <span class="icon solid style1 major fa-beer mr-1 ml-1"></span>
            <span class="icon solid style1 major fa-user-friends mr-1 ml-1"></span>
          </div>
          <div class="col-md-6 pl-4 pr-4">
            <span class="icon solid style1 major fa-smile-beam mr-1 ml-1"></span>
            <span class="icon solid style1 major fa-money-bill mr-1 ml-1"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pl-4 pr-4 ml-0 mr-0">
            <header>
              <h2>{{ "home_8" | translate}}</h2>
            </header>
            <p style="text-align: justify">
              {{ "home_9" | translate}}
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Three -->
  <div class="row">
    <div class="col-md-12">
      <section id="three" class="main style1 special">
        <div class="container">
          <header class="major">
            <h2>{{ "home_10" | translate}}</h2>
          </header>
          <p class="pl-4 pr-4">{{ "home_11" | translate}}</p>
        </div>
        <div class="row">
          <div class="col-md-6 pr-4 pl-4">
            <div class="card">
              <div align="center">
              <div class="card-boy">
                  <img src="../../assets/img/home_3_3.jpg" class="card-img-top" alt="alt">
                  <div class="card-style">
                    <strong><h1 class="card-title mb-2">{{ 'home_14' | translate}}</h1></strong>
                    <p style="text-align: justify !important;" ALIGN="justify" class="card-text">
                      {{ 'home_16' | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-4 pr-4">
            <div class="card">
              <div class="card-boy">
                <div align="center">
                  <img src="../../assets/img/home_2_2.jpg" class="card-img-top" alt="alt">
                  <div class="card-style">
                    <strong><h1 class="card-title mb-2" >{{ 'home_15' | translate}}</h1></strong>
                    <p style="text-align: justify !important;">
                      {{ 'home_17' | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <!-- Three -->
  <div class="row" *ngIf="userService.hasAuthority('BAR')">
    <div class="col-md-12">
      <section id="barhome" class="main style1 special">
        <div class="container">
          <header class="major">
            <h2>{{ "home_18" | translate}}</h2>
          </header>
        </div>
        <div class="row">
          <div class="col-md-6 pr-4 pl-4" *ngFor="let membership of memberships">
            <div class="card">
              <div align="center">
              <div class="card-boy">
                  <div class="card-style" *ngIf="translate.currentLang=='es'">
                    <strong><h1 class="card-title mb-2">{{membership.titleS}}</h1></strong>
                    <p style="text-align: justify !important;" ALIGN="justify" class="card-text">
                      {{membership.descriptionS}}
                    </p>
                  </div>
                  <div class="card-style" *ngIf="translate.currentLang=='en'">
                    <strong><h1 class="card-title mb-2">{{membership.titleE}}</h1></strong>
                    <p style="text-align: justify !important;" ALIGN="justify" class="card-text">
                      {{membership.descriptionE}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
        <br>
        </div>
        <div class="table-responsive text-nowrap">

  <table class="table">
    <thead>
      <tr>
        <th style="text-align:center;" scope="col">{{ "functions" | translate}}</th>
        <th style="text-align:center;" scope="col">{{ "normal" | translate}}</th>
        <th style="text-align:center;" scope="col">{{ "vip" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ "mapAdvertise" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "uploadSale" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "uploadAchievement" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "manageEmployee" | translate}}</td>
        <td style="color: #42A948">✔</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "transactionsList" | translate}}</td>
        <td>❌</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "moreAchievements" | translate}}</td>
        <td>❌</td>
        <td style="color: #42A948">✔</td>
      </tr>
      <tr>
        <td>{{ "differentiation" | translate}}</td>
        <td>❌</td>
        <td style="color: #42A948">✔</td>
      </tr>
    </tbody>
  </table>

</div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Four -->
      <section id="four" class="main style2 special">
        <div class="container">
          <header class="major">
            <h2>{{ "home_12" | translate}}</h2>
          </header>
          <p class="pl-4 pr-4">{{ "home_13" | translate}}</p>
          <div class="actions special">
            <a routerLink="/about" class="button wide primary">{{ "home_12" | translate}}</a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Advertisements -->
  <div class="row">
    <div class="col-md-12">
      <section id="three" class="main style1 special">
        <div class="container">
          <header class="major">
            <h2>{{ "home_ads_1" | translate}}</h2>
          </header>
          <p class="pl-4 pr-4">{{ "home_ads_2" | translate}}</p>
        </div>
        <div class="row">
          <div class="col-md-4 pr-4 pl-4">
            <div class="card">
              <div align="center">
              <div class="card-boy">
                  <iframe class="card-img-top" src="https://www.youtube.com/embed/wN1iEVcsYvI?controls=0"></iframe>
                  <div class="card-style">
                    <strong><h1 class="card-title mb-2">{{ 'home_ads_3' | translate}}</h1></strong>
                    <p style="text-align: justify !important;" ALIGN="justify" class="card-text">
                      {{ 'home_ads_4' | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 pr-4 pl-4">
            <div class="card">
              <div align="center">
              <div class="card-boy">
                  <!--img src="../../assets/img/home_3_3.jpg" class="card-img-top" alt="alt"-->
                  <iframe class="card-img-top" src="https://www.youtube.com/embed/BUDXHqpKt6k?controls=0"></iframe>
                  <div class="card-style">
                    <strong><h1 class="card-title mb-2">{{ 'home_ads_5' | translate}}</h1></strong>
                    <p style="text-align: justify !important;" ALIGN="justify" class="card-text">
                      {{ 'home_ads_6' | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 pl-4 pr-4">
            <div class="card">
              <div class="card-boy">
                <div align="center">
                  <iframe class="card-img-top" src="https://www.youtube.com/embed/h83myC2Ct_k?controls=0"></iframe>
                  <div class="card-style">
                    <strong><h1 class="card-title mb-2" >{{ 'home_ads_7' | translate}}</h1></strong>
                    <p style="text-align: justify !important;">
                      {{ 'home_ads_8' | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section id="footer">
        <ul class="icons">
          <li><a target="_blank" href="https://twitter.com/PointbarSite" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a target="_blank" href="https://www.facebook.com/PointbarOfficial/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a target="_blank" href="https://www.instagram.com/pointbar_official/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCM3sSHPrM2MVzG21C70PVuw" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/pointbar" class="icon brands alt fa-linkedin"><span class="label">Linkedin</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; POINTBAR</li>
        </ul>
      </section>

    </div>
  </div>
</div>
</div>
</div>


<div *ngIf="userService.hasAuthority('EMPLOYEE')" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section id="header" style="padding: 5em 3em 20em 3em;">
        <div class="inner" align="center">
          <span class="icon solid major fas fa-utensils"></span>
          <h1>
            {{ "home_1" | translate}}
            <br>
            {{ "home_2" | translate}}
          </h1>
          <div>
            <div class="row pt-5">
              <div class="col-md-12 col-lg-6 align-items-stretch mt-3 pb-4">
                <button class="btn-home pt-4 pb-4" style="position: relative; z-index: 1;" (click)="createPayload()"><h1>{{ 'create_payload' | translate}}</h1></button>
              </div>
              <div class="col-md-12 col-lg-6 align-items-stretch mt-3 pb-4">
                <button class="btn-home pt-4 pb-4" style="position: relative; z-index: 1;"  (click)="scanQR()"><h1>{{ 'scan_qr' | translate}}</h1></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



