<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="page-wrapper p-t-180">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-style pt-5 pb-5 pl-2 pr-2">

          <div class="row">

            <div class="col-md-6 user-container align-self-center pb-0">
              <h2
                class="text-center mb-0">{{ 'exchange_show_msg2' | translate}} {{this.points}} {{ 'exchange_show_msg3' | translate}}</h2>
              <ngx-kjua class="text-center"
                        [text]='this.qrCode'
              ></ngx-kjua>
                <div style="text-align:center">
                  <i class="fa" [satPopoverAnchor]='popover' (click)="popover.toggle()">
                    &#xf05a;
                  </i>
                  <sat-popover #popover hasBackdrop verticalAlign="below">
                      <div class="info mat-caption">{{ 'payload_show_license' | translate}} <br/><a href='https://github.com/werthdavid/ngx-kjua/blob/master/LICENSE'> {{ 'license_here' | translate}}</a>
                      </div>
                  </sat-popover>
                </div>
              <br>
              <br>
              <div style="text-align: center;">
                <button class="btn" (click)="return()">{{ 'exchange_back' | translate}}</button>
              </div>
            </div>

            <div class="col-md-6">
              <div class="jumbotron pb-0 mb-0 pt-3" style="background-color: rgba(233,97,97,0.44)">
                <h1
                  style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: 600">{{ 'payload_create_1' | translate}}</h1>
                <br>

                <p class="lead" style="text-align: justify">
                  {{ 'exchange_show_msg1' | translate}}
                </p>
                <br>

                <p class="lead" style="text-align: justify">
                  {{ 'exchange_show_msg4' | translate}}
                </p>
                <br>
<!-- 
                <p class="lead" style="text-align: justify">
                  {{ 'exchange_show_msg5' | translate}}
                </p> -->
        
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
