.col-md-6 img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper--w960 {
  max-width: max-content;
}

.card-img-top {
  width: 140%;
  height: 10em;
  object-fit: cover;
}

.card-style {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.info{
  background-color: #495057d9;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.fa{
  font-size:1.5em;
  cursor: pointer;
}
